In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
##Things to do in this sheet:
#Make column titles more distinct.  (some dummy columns just have unknown so make sure it's clear what column those belong to)

In [130]:
bureau = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\bureau.csv')
bureau_balance = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\bureau_balance.csv')
credit_card_balance = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\credit_card_balance.csv')
installments_payments = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\installments_payments.csv')
pos_cash_balance = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\POS_Cash_balance.csv')

In [4]:
application_train = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\application_train.csv')

In [42]:
#This is a very, very large dataset.  In order to do calculations and not crash the computer, I will be using the first 100,000
#rows from the train application.  There doesn't seem to be any specific ordering other than customer number so I don't 
#believe this will cause us to lose too much information. We will call this new training set df_train.
df_train = application_train[0:100001]

NameError: name 'application_train' is not defined

In [32]:
df_train.to_csv('C:\\Users\\tilleymusprime\\Desktop\\df_traincap2.csv')

NameError: name 'df_train' is not defined

In [45]:
#I am uploading the code for df_train in order to save loading time in the future.
df_train= pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\df_traincap2.csv')
df_train.shape

(100001, 123)

In [46]:
#The first thing we are going to check for is missing values.  To do this, we will go through each column and decide what the
#best way to handle missing values is.  In some cases, we might just fill with 0's but in other cases we might use the position
#mean.
df_traincols = list(df_train.columns.values)
print(df_traincols)

['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [47]:
#The first column we will look at will be the name contract type column.It is a non-numeric column so we are going to create an
#extra column where it will be a 1 for cash loans and a 0 for revolving loans
def contract_type():
    for x in df_train['NAME_CONTRACT_TYPE']:
        if x == 'Cash loans':
            return 1
        else: 
            return 0

In [48]:
df_train['NAME_CONTRACT_TYPE_NUMERIC'] = contract_type()

In [49]:
df_train['NAME_CONTRACT_TYPE_NUMERIC'].head()
#It looks like we have successfully added the new version of the column to the data.  Next we will check for missing values

0    1
1    1
2    1
3    1
4    1
Name: NAME_CONTRACT_TYPE_NUMERIC, dtype: int64

In [50]:
df_train['NAME_CONTRACT_TYPE'].isnull().sum()
#It doesn't look like there are any NaN values in this column so we can move on to the next one.

0

In [51]:
##The next column is gender.  In order to use this in our model, we will add another column that codes males as 1 and females as
# 0.  By converting it to a numeric column, we can use it in future regression models.
def gender_code():
    for x in df_train['CODE_GENDER']:
        if x == 'M':
            return 1
        else:
            return 0

In [52]:
df_train['CODE_GENDER_NUMERIC'] = gender_code()

In [53]:
df_train['CODE_GENDER'].isnull().sum()
#There does not appear to be any NaN values in this column.

0

In [54]:
##The next column we are going to work with will be the flag own car column. I am going to try and be consistent with 1 being
#used for true and 0 being used for false.  We will create a new column that returns a 1 if a person has a car and a 0 if they
# do not own a vehicle
def flag_numeric(d):
    for x in d:
        if x == 'Y':
            return 1
        else:
            return 0

In [55]:
df_train['FLAG_OWN_CAR_NUMERIC'] = flag_numeric(df_train['FLAG_OWN_CAR'])
df_train['FLAG_OWN_CAR_NUMERIC'].isnull().sum()
#It looks like we successfully created the column and there are no NaN values in it

0

In [56]:
##The next column we will look at is going to be FLAG_OWN_REALTY.  This column shows whether or not a customer owns property.
#We will need to create a numeric column that returns a 1 if they own property and a 0 if they don't
df_train['FLAG_OWN_REALTY_NUMERIC'] = flag_numeric(df_train['FLAG_OWN_REALTY'])
df_train['FLAG_OWN_REALTY_NUMERIC'].isnull().sum()
#It looks like we successfully created the column and there are not any NaN values remaining in the data.

0

In [57]:
##The next column we will look at is going to be the CNT_Children column.  This column represents the number of children a client
# has.  This column already has numeric values in it so it should be all set to go.  Let's check for NaN values though
df_train['CNT_CHILDREN'].isnull().sum()

0

In [58]:
#Next we will look at the AMT _INCOME_TOTAL column.  This column is already in numeric form so we will not have to create
#an extra column for it.  We will need to check it for NaN values though
df_train['AMT_INCOME_TOTAL'].isnull().sum()
#It doesn't look like there are any NaN values in this column

0

In [59]:
#The next column we will look at is the AMT_CREDIT column.  It is already in numeric form so we will just need to check it for
#NaN values
df_train['AMT_CREDIT'].isnull().sum()
#It doesn't look like there are any NaN values in this column

0

In [60]:
#The next column we will look at is going to be the AMT_ANNUITY column.  It is already numeric so we will just need to check
#it for NaN values.  This column represents the amount of loan being taken out.
df_train['AMT_ANNUITY'].isnull().sum()
#It looks like there are 7 NaNs in this column

7

In [61]:
df_train['AMT_ANNUITY'].describe()

count     99994.000000
mean      27085.236194
std       14459.573072
min        1980.000000
25%       16458.750000
50%       24903.000000
75%       34596.000000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64

In [62]:
#The next column we will be looking at is going to be the AMT_GOODS_PRICE column.  This column shows the price of goods for
#which a loan is given.  Since it is already in numeric form, we will just check it for NaN values
df_train['AMT_GOODS_PRICE'].isnull().sum()
#It looks like we have 81 NaN values in this column.

81

In [63]:
#The next column we are going to look at is the NAME_TYPE_SUITE column.This column describes who was accompanying the person
#when they applied or the loan.  Let's add some dummy variables for each attribute
df_train['NAME_TYPE_SUITE'] = df_train['NAME_TYPE_SUITE'].fillna('Unaccompanied')

In [64]:
 pd.get_dummies(df_train['NAME_TYPE_SUITE']).head()

,Children,Family,Group of people,Other_A,Other_B,"Spouse, partner",Unaccompanied
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1

In [65]:
df_train_NAME_SUITE_TYPE_DUMMIES = pd.get_dummies(df_train['NAME_TYPE_SUITE'])
df_train_NAME_SUITE_TYPE_DUMMIES.shape

(100001, 7)

In [66]:
df_train['NAME_SUITE_TYPE_UNACCOMPANIED'] = df_train_NAME_SUITE_TYPE_DUMMIES['Unaccompanied']

In [67]:
df_train['NAME_SUITE_TYPE_UNACCOMPANIED'].head()
#This output matches the excel spreadsheet so it looks like we've successfully found a way to add dummy columns

0    1
1    0
2    1
3    1
4    1
Name: NAME_SUITE_TYPE_UNACCOMPANIED, dtype: uint8

In [68]:
df_train['NAME_SUITE_TYPE_OTHER_B'] = df_train_NAME_SUITE_TYPE_DUMMIES['Other_B']

In [69]:
df_train['NAME_SUITE_TYPE_OTHER_A'] = df_train_NAME_SUITE_TYPE_DUMMIES['Other_A']

In [70]:
df_train['NAME_SUITE_TYPE_CHILDREN'] = df_train_NAME_SUITE_TYPE_DUMMIES['Children']

In [71]:
df_train['NAME_SUITE_TYPE_FAMILY'] = df_train_NAME_SUITE_TYPE_DUMMIES['Family']

In [72]:
df_train['NAME_SUITE_TYPE_GROUP'] = df_train_NAME_SUITE_TYPE_DUMMIES['Group of people']

In [73]:
df_train['NAME_SUITE_TYPE_SPOUSE'] = df_train_NAME_SUITE_TYPE_DUMMIES['Spouse, partner']

In [74]:
print(df_train[['NAME_SUITE_TYPE_OTHER_B', 'NAME_SUITE_TYPE_UNACCOMPANIED', 'NAME_SUITE_TYPE_OTHER_A', 'NAME_SUITE_TYPE_CHILDREN',
               'NAME_SUITE_TYPE_FAMILY', 'NAME_SUITE_TYPE_GROUP', 'NAME_SUITE_TYPE_SPOUSE']].head())

   NAME_SUITE_TYPE_OTHER_B  NAME_SUITE_TYPE_UNACCOMPANIED  \
0                        0                              1
1                        0                              0
2                        0                              1
3                        0                              1
4                        0                              1

   NAME_SUITE_TYPE_OTHER_A  NAME_SUITE_TYPE_CHILDREN  NAME_SUITE_TYPE_FAMILY  \
0                        0                         0                       0
1                        0                         0                       1
2                        0                         0                       0
3                        0                         0                       0
4                        0                         0                       0

   NAME_SUITE_TYPE_GROUP  NAME_SUITE_TYPE_SPOUSE
0                      0                       0
1                      0                       0
2                      0                       0
3                      0                       0
4                      0                       0

In [75]:
#The next column we will work with is going to be the NAME_INCOME_TYPE
#This column describes what type of income the applicant has.  First, we will check is for nan values and replace them
#with 'unknown'.  This will allow us to see if not getting the information recorded is significantly related to the target
#We will next check to see what unique values are in this column
#Once we have that, we will create a separate column for each source of income with a 1 when an applicant has that source of
#income and a 0 if they have any other type of income.
df_train['NAME_INCOME_TYPE'] = df_train['NAME_INCOME_TYPE'].fillna('Unknown')
df_train['NAME_INCOME_TYPE'].isnull().sum()
#It doesn't look like there are any null values in this column so we will check for unique values now

0

In [76]:
df_train_NAME_INCOME_TYPE_DUMMIES = pd.get_dummies(df_train['NAME_INCOME_TYPE'])

In [77]:
df_train['NAME_INCOME_TYPE_BUSINESSMAN'] = df_train_NAME_INCOME_TYPE_DUMMIES['Businessman']

In [78]:
df_train['NAME_INCOME_TYPE_COMMERCIAL_ASSOCIATE'] = df_train_NAME_INCOME_TYPE_DUMMIES['Commercial associate']

In [79]:
df_train['NAME_INCOME_TYPE_MATERNITY_LEAVE'] = df_train_NAME_INCOME_TYPE_DUMMIES['Maternity leave']

In [80]:
df_train['NAME_INCOME_TYPE_PENSIONER'] = df_train_NAME_INCOME_TYPE_DUMMIES['Pensioner']

In [81]:
df_train['NAME_INCOME_TYPE_COMMERCIAL_STATE_SERVANT'] = df_train_NAME_INCOME_TYPE_DUMMIES['State servant']

In [82]:
df_train['NAME_INCOME_TYPE_STUDENT'] = df_train_NAME_INCOME_TYPE_DUMMIES['Student']

In [83]:
df_train['NAME_INCOME_TYPE_COMMERCIAL_UNEMPLOYED'] = df_train_NAME_INCOME_TYPE_DUMMIES['Unemployed']

In [84]:
df_train['NAME_INCOME_TYPE_COMMERCIAL_WORKING'] = df_train_NAME_INCOME_TYPE_DUMMIES['Working']

In [85]:
pd.get_dummies(df_train['NAME_INCOME_TYPE'])

,Businessman,Commercial associate,Maternity leave,Pensioner,State servant,Student,Unemployed,Working
0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1
5,0,0,0,0,1,0,0,0
6,0,1,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0
8,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,0,1
10,0,0,0,0,0,0,0,1
11,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,1
15,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,1
17,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,1
19,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,1
21,0,1,0,0,0,0,0,0
22,0,0,0,0,0,0,0,1
23,0,0,0,1,0,0,0,0
24,0,0,0,0,0,0,0,1
25,0,0,0,0,0,0,0,1
26,0,0,0,0,0,0,0,1
27,0,0,0,0,0,0,0,1
28,0,0,0,0,1,0,0,0
29,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
99971,0,1,0,0,0,0,0,0
99972,0,0,0,0,0,0,0,1
99973,0,0,0,0,0,0,0,1
99974,0,1,0,0,0,0,0,0
99975,0,1,0,0,0,0,0,0
99976,0,0,0,1,0,0,0,0
99977,0,0,0,0,0,0,0,1
99978,0,1,0,0,0,0,0,0
99979,0,0,0,0,0,0,0,1
99980,0,0,0,0,0,0,0,1
99981,0,0,0,1,0,0,0,0
99982,0,0,0,1,0,0,0,0
99983,0,0,0,0,1,0,0,0
99984,0,1,0,0,0,0,0,0
99985,0,0,0,0,0,0,0,1
99986,0,0,0,0,0,0,0,1
99987,0,0,0,0,0,0,0,1
99988,0,0,0,0,0,0,0,1
99989,0,0,0,0,0,0,0,1
99990,0,0,0,0,0,0,0,1
99991,0,0,0,0,0,0,0,1
99992,0,1,0,0,0,0,0,0
99993,0,1,0,0,0,0,0,0
99994,0,0,0,0,0,0,0,1
99995,0,0,0,0,0,0,0,1
99996,0,1,0,0,0,0,0,0
99997,0,1,0,0,0,0,0,0
99998,0,1,0,0,0,0,0,0
99999,0,0,0,0,0,0,0,1
100000,0,1,0,0,0,0,0,0

In [89]:
#The next column we are going to work with is the NAME_EDUCATION_TYPE column.  This column indicates the level of education that
# an applicant has.  The first thing we are going to do is check for missing values
#After that, we will divide each column into its separate categories and assign a 1 if the applicant has that level of 
#education and a 0 if they do not have that level of education
df_train['NAME_EDUCATION_TYPE'].isnull().sum()
#There do not appear to be any nan values in this column

0

In [90]:
df_train_NAME_EDUCATION_TYPE_DUMMIES = pd.get_dummies(df_train['NAME_EDUCATION_TYPE'])

In [91]:
df_train['NAME_EDUCATION_TYPE_ACADEMIC_DEGREE'] = df_train_NAME_EDUCATION_TYPE_DUMMIES['Academic degree']
df_train['NAME_EDUCATION_TYPE_HIGHER_EDUCATION'] = df_train_NAME_EDUCATION_TYPE_DUMMIES['Higher education']
df_train['NAME_EDUCATION_TYPE_INCOMPLETE_HIGHER'] = df_train_NAME_EDUCATION_TYPE_DUMMIES['Incomplete higher']
df_train['NAME_EDUCATION_TYPE_LOWER_SECONDARY'] = df_train_NAME_EDUCATION_TYPE_DUMMIES['Lower secondary']
df_train['NAME_EDUCATION_TYPE_SECONDARY'] = df_train_NAME_EDUCATION_TYPE_DUMMIES['Secondary / secondary special']

In [92]:
pd.get_dummies(df_train['NAME_EDUCATION_TYPE'])

,Academic degree,Higher education,Incomplete higher,Lower secondary,Secondary / secondary special
0,0,0,0,0,1
1,0,1,0,0,0
2,0,0,0,0,1
3,0,0,0,0,1
4,0,0,0,0,1
5,0,0,0,0,1
6,0,1,0,0,0
7,0,1,0,0,0
8,0,0,0,0,1
9,0,0,0,0,1
10,0,1,0,0,0
11,0,0,0,0,1
12,0,0,0,0,1
13,0,0,0,0,1
14,0,0,0,0,1
15,0,0,0,0,1
16,0,0,0,0,1
17,0,0,0,0,1
18,0,0,0,0,1
19,0,1,0,0,0
20,0,0,0,0,1
21,0,0,0,0,1
22,0,0,0,0,1
23,0,0,0,0,1
24,0,0,0,0,1
25,0,0,0,0,1
26,0,0,0,0,1
27,0,0,0,0,1
28,0,1,0,0,0
29,0,1,0,0,0
...,...,...,...,...,...
99971,0,0,0,0,1
99972,0,0,0,0,1
99973,0,0,0,0,1
99974,0,0,0,0,1
99975,0,0,0,0,1
99976,0,1,0,0,0
99977,0,0,0,0,1
99978,0,0,0,0,1
99979,0,1,0,0,0
99980,0,1,0,0,0
99981,0,0,0,0,1
99982,0,0,0,0,1
99983,0,1,0,0,0
99984,0,0,0,0,1
99985,0,0,0,0,1
99986,0,0,0,0,1
99987,0,0,0,0,1
99988,0,0,0,0,1
99989,0,0,0,0,1
99990,0,0,0,0,1
99991,0,1,0,0,0
99992,0,0,0,0,1
99993,0,0,1,0,0
99994,0,0,0,0,1
99995,0,0,0,0,1
99996,0,1,0,0,0
99997,0,0,0,0,1
99998,0,0,0,0,1
99999,0,0,0,0,1
100000,0,0,0,0,1

In [94]:
#The next column we are going to be working with is the NAME_FAMILY_STATUS column.  This column describes the applicants 
#relationship status.  First, we will check and fill NaN's and then we will check how many unique values there are for the
#column.  Finally, we will create 1 and 0 columns based on whether or not the applicant meets that criteria
df_train['NAME_FAMILY_STATUS'].isnull().sum()
#It looks like there are not any missing values in this column so we can move on to creating the dummy variables
#Let's see what unique values are in this column

0

In [95]:
df_train_NAME_FAMILY_STATUS_DUMMIES = pd.get_dummies(df_train['NAME_FAMILY_STATUS'])

In [96]:
df_train['NAME_FAMILY_STATUS_CIVIL_MARRIAGE'] = df_train_NAME_FAMILY_STATUS_DUMMIES['Civil marriage']
df_train['NAME_FAMILY_STATUS_MARRIED'] = df_train_NAME_FAMILY_STATUS_DUMMIES['Married']
df_train['NAME_FAMILY_STATUS_SEPARATED'] = df_train_NAME_FAMILY_STATUS_DUMMIES['Separated']
df_train['NAME_FAMILY_STATUS_SINGLE'] = df_train_NAME_FAMILY_STATUS_DUMMIES['Single / not married']
df_train['NAME_FAMILY_STATUS_UNKNOWN'] = df_train_NAME_FAMILY_STATUS_DUMMIES['Unknown']
df_train['NAME_FAMILY_STATUS_CIVIL_WIDOW'] = df_train_NAME_FAMILY_STATUS_DUMMIES['Widow']

In [50]:
pd.get_dummies(df_train['NAME_FAMILY_STATUS'])

,Civil marriage,Married,Separated,Single / not married,Unknown,Widow
0,0,0,0,1,0,0
1,0,1,0,0,0,0
2,0,0,0,1,0,0
3,1,0,0,0,0,0
4,0,0,0,1,0,0
5,0,1,0,0,0,0
6,0,1,0,0,0,0
7,0,1,0,0,0,0
8,0,1,0,0,0,0
9,0,0,0,1,0,0
10,0,1,0,0,0,0
11,0,1,0,0,0,0
12,0,1,0,0,0,0
13,0,1,0,0,0,0
14,0,1,0,0,0,0
15,0,0,0,1,0,0
16,0,1,0,0,0,0
17,0,1,0,0,0,0
18,0,0,0,0,0,1
19,0,0,0,1,0,0
20,0,1,0,0,0,0
21,0,1,0,0,0,0
22,0,1,0,0,0,0
23,0,1,0,0,0,0
24,0,1,0,0,0,0
25,0,1,0,0,0,0
26,0,0,0,0,0,1
27,0,1,0,0,0,0
28,0,0,0,1,0,0
29,0,0,0,1,0,0
...,...,...,...,...,...,...
99971,0,1,0,0,0,0
99972,0,0,0,1,0,0
99973,0,1,0,0,0,0
99974,0,0,0,1,0,0
99975,0,1,0,0,0,0
99976,0,1,0,0,0,0
99977,1,0,0,0,0,0
99978,0,1,0,0,0,0
99979,0,1,0,0,0,0
99980,0,1,0,0,0,0
99981,0,1,0,0,0,0
99982,0,1,0,0,0,0
99983,0,1,0,0,0,0
99984,0,0,0,1,0,0
99985,0,1,0,0,0,0
99986,0,1,0,0,0,0
99987,0,0,1,0,0,0
99988,0,1,0,0,0,0
99989,0,1,0,0,0,0
99990,0,1,0,0,0,0
99991,0,1,0,0,0,0
99992,0,1,0,0,0,0
99993,0,0,0,1,0,0
99994,0,1,0,0,0,0
99995,0,1,0,0,0,0
99996,0,1,0,0,0,0
99997,0,1,0,0,0,0
99998,1,0,0,0,0,0
99999,0,1,0,0,0,0
100000,0,1,0,0,0,0

In [51]:
#The next column we will look at is the NAME_HOUSING_TYPE column. This column describes what kind of residence the applicant
#currently resides in.  The first thing we will do is check for missing values.
df_train['NAME_HOUSING_TYPE'].isnull().sum()
#It doesn't look like there are any null values in this column.  Let's check for unique values now

0

In [52]:
df_train_NAME_HOUSING_TYPE_DUMMIES = pd.get_dummies(df_train['NAME_HOUSING_TYPE'])

In [53]:
df_train['NAME_HOUSING_TYPE_CO_OP_APARTMENT'] = df_train_NAME_HOUSING_TYPE_DUMMIES['Co-op apartment']
df_train['NAME_HOUSING_TYPE_HOUSE_APARTMENT'] = df_train_NAME_HOUSING_TYPE_DUMMIES['House / apartment']
df_train['NAME_HOUSING_TYPE_MUNICIPAL_APARTMENT'] = df_train_NAME_HOUSING_TYPE_DUMMIES['Municipal apartment']
df_train['NAME_HOUSING_TYPE_OFFICE_APARTMENT'] = df_train_NAME_HOUSING_TYPE_DUMMIES['Office apartment']
df_train['NAME_HOUSING_TYPE_RENTED_APARTMENT'] = df_train_NAME_HOUSING_TYPE_DUMMIES['Rented apartment']
df_train['NAME_HOUSING_TYPE_PARENTS'] = df_train_NAME_HOUSING_TYPE_DUMMIES['With parents']

In [54]:
 pd.get_dummies(df_train['NAME_HOUSING_TYPE'])

,Co-op apartment,House / apartment,Municipal apartment,Office apartment,Rented apartment,With parents
0,0,1,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,1,0,0,0,0
5,0,1,0,0,0,0
6,0,1,0,0,0,0
7,0,1,0,0,0,0
8,0,1,0,0,0,0
9,0,1,0,0,0,0
10,0,1,0,0,0,0
11,0,1,0,0,0,0
12,0,1,0,0,0,0
13,0,1,0,0,0,0
14,0,1,0,0,0,0
15,0,0,0,0,1,0
16,0,1,0,0,0,0
17,0,1,0,0,0,0
18,0,1,0,0,0,0
19,0,1,0,0,0,0
20,0,1,0,0,0,0
21,0,1,0,0,0,0
22,0,0,0,0,1,0
23,0,1,0,0,0,0
24,0,1,0,0,0,0
25,0,1,0,0,0,0
26,0,1,0,0,0,0
27,0,1,0,0,0,0
28,0,1,0,0,0,0
29,0,0,0,0,0,1
...,...,...,...,...,...,...
99971,0,1,0,0,0,0
99972,0,0,1,0,0,0
99973,0,1,0,0,0,0
99974,0,1,0,0,0,0
99975,0,1,0,0,0,0
99976,0,1,0,0,0,0
99977,0,1,0,0,0,0
99978,0,1,0,0,0,0
99979,0,1,0,0,0,0
99980,0,1,0,0,0,0
99981,0,1,0,0,0,0
99982,0,1,0,0,0,0
99983,0,1,0,0,0,0
99984,0,1,0,0,0,0
99985,0,1,0,0,0,0
99986,0,1,0,0,0,0
99987,0,0,0,0,0,1
99988,0,1,0,0,0,0
99989,0,1,0,0,0,0
99990,0,1,0,0,0,0
99991,0,1,0,0,0,0
99992,0,0,0,0,1,0
99993,0,0,0,0,0,1
99994,0,1,0,0,0,0
99995,0,1,0,0,0,0
99996,0,1,0,0,0,0
99997,0,1,0,0,0,0
99998,0,0,0,0,0,1
99999,0,1,0,0,0,0
100000,0,1,0,0,0,0

In [55]:
#The next column we will look at is REGION_POPULATION_RELATIVE.
#This column describes how populated a region is.  Higher number means more population.
#This column is already in numerical form so we will jus need to check it for missing values
df_train['REGION_POPULATION_RELATIVE'].isnull().sum()
#It doesn't look like there are any null values in this column.  We can move on to the next column

0

In [56]:
#The next colum we are going to look at is DAYS_BIRTH
#This column indicates the client's age in days. 
#This column is already in numeric form so we just need to check it for NaN values
df_train['DAYS_BIRTH'].isnull().sum()
#It doesn't look like there are any missing values so we can move on to the next column.

0

In [57]:
#The next column we will look at is DAYS_EMPLOYED
#This column indicates how long the person has been employed at the time of the application
#Since the data is already numeric, we just need to check it for nan values
df_train['DAYS_EMPLOYED'].isnull().sum()
#There does not appear to be any missing values in this column so we can move on to the next column

0

In [58]:
#The next column we will look at is DAYS_REGISTRATION.
#This column indicates how many days it has been since the applicant has changed their registration
#Since this column is already in numeric form, we will just need to check it for missing values
df_train['DAYS_REGISTRATION'].isnull().sum()
#There does not appear to be any missing values in this column

0

In [59]:
#The next column we will look at is  DAYS_ID_PUBLISH
#This column shows how old the identification card is that is being used to apply for the loan
#Since this column is numeric, we will only need to check for missing values.
df_train['DAYS_ID_PUBLISH'].isnull().sum()
#There are not any missing values in this column so we will move on to the next column

0

In [60]:
#The next column we will look at is the OWN_CAR_AGE.
#This column shows the age of a clients car. Since it is numeric, we will just need to check for missing values
df_train['OWN_CAR_AGE'].isnull().sum()
#It looks like we initially have 66019 missing values.  We can't remove that many rows and this could be an important column
#of data so we don't want to throw it out. There are two ways I can think of to fill in the missing data.  Presumably, the 
#missing data is people who do not have a car. My initial thought was to assign 0 for all people who did not have a car.
#When it comes to cars though, the higher the age value, the less valuable the car so giving people with no car a score of 0
#would give them better assets than someone with a 1 year old car.  To solve this problem, we will fill all of the missing values
#with the maximum value from the column.

66019

In [61]:
df_train['OWN_CAR_AGE'].max()
#It looks like the maximum car age is 65 (Very curious about this car age but it does come up repeatedly and there are other
#instances of similar numbers showing up so I don't think it is a misprint)

65.0

In [62]:
df_train['OWN_CAR_AGE'] = df_train['OWN_CAR_AGE'].fillna(df_train['OWN_CAR_AGE'].max())
df_train['OWN_CAR_AGE'].isnull().sum()
#It looks like we have successfully filled in all of the missing values for this column

0

In [63]:
#The next column we will look at is FLAG_MOBIL
#This column indicates a 1 if the applicant gave their mobile number and a 0 if they didn't
#Since the column is already numeric, we will just need to check it for missing values
df_train['FLAG_MOBIL'].isnull().sum()
#It doesn't look like there are any missing values in this column so we can move on to the next column

0

In [64]:
#The next column we will look at is FLAG_EMP_PHONE.
#This column has a 1 if the applicant provided their work phone number and a 0 if they did not.
#It is already numeric so we will just need to check it for missing values
df_train['FLAG_EMP_PHONE'].isnull().sum()
#It doesn't look like there are any missing values in this column so we can move on to the next one

0

In [65]:
#The next column we will look at is FLAG_WORK_PHONE
#This column might be mislabeled because it indicates if the applicant provided their home number or not.
#Since it is already numeric, we will just need to check it for missing values
df_train['FLAG_WORK_PHONE'].isnull().sum()
#It doesn't look like there are any missing values in this column

0

In [66]:
#The next column we will look at is FLAG_CONT_MOBILE.
#This column describes if the mobile phone number was reachable or not.
#Since it is already in numeric format, we just need to check and see if there are any missing values
df_train['FLAG_CONT_MOBILE'].isnull().sum()
#It doesn't look like there are any missing values in this column

0

In [67]:
#The next column we will look at is FLAG_PHONE
#This column also describes whether or not an applicant provided their home phone number.
#Since it is already numeric, we will just need to check it for missing values
df_train['FLAG_PHONE'].isnull().sum()
#It doesn't look like there are any missing values in this column

0

In [68]:
#The next column we will look at is FLAG_EMAIL
#This column indicates a 1 if the applicant provided their email and a 0 if they did not
#Since this column is already numeric, we will just need to check for missing values
df_train['FLAG_EMAIL'].isnull().sum()
#It doesn't look like are any missing values in this column

0

In [69]:
#The next column we will look at is OCCUPATION_TYPE.
#This column indicates what kind of occupation a person has.
#Since it consists of strings, we will have to create binary columns that have a 1 if the trait is possessed and a 0 if not
#First, we will check for missing values
df_train['OCCUPATION_TYPE'].isnull().sum()
#There are quite a few missing values in this column.  Instead of trying to guess who does what, we will instead group them all 
#into one big group called 'unknown'

31225

In [70]:
df_train['OCCUPATION_TYPE'] = df_train['OCCUPATION_TYPE'].fillna('unknown')

In [71]:
df_train_OCCUPATION_TYPE_DUMMIES = pd.get_dummies(df_train['OCCUPATION_TYPE'])

In [72]:
df_train['OCCUPATION_TYPE_ACCOUNTANT'] = df_train_OCCUPATION_TYPE_DUMMIES['Accountants']
df_train['OCCUPATION_TYPE_CLEANING_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Cleaning staff']
df_train['OCCUPATION_TYPE_COOKING_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Cooking staff']
df_train['OCCUPATION_TYPE_CORE_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Core staff']
df_train['OCCUPATION_TYPE_DRIVERS'] = df_train_OCCUPATION_TYPE_DUMMIES['Drivers']
df_train['OCCUPATION_TYPE_HR_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['HR staff']
df_train['OCCUPATION_TYPE_HIGH_SKILL_TECH_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['High skill tech staff']
df_train['OCCUPATION_TYPE_IT_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['IT staff']
df_train['OCCUPATION_TYPE_LABORERS'] = df_train_OCCUPATION_TYPE_DUMMIES['Laborers']
df_train['OCCUPATION_TYPE_LOW_SKILL_LABORERS'] = df_train_OCCUPATION_TYPE_DUMMIES['Low-skill Laborers']
df_train['OCCUPATION_TYPE_MANAGERS'] = df_train_OCCUPATION_TYPE_DUMMIES['Managers']
df_train['OCCUPATION_TYPE_MEDICINE_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Medicine staff']
df_train['OCCUPATION_TYPE_PRIVATE_SERVICE_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Private service staff']
df_train['OCCUPATION_TYPE_REALTY_AGENTS'] = df_train_OCCUPATION_TYPE_DUMMIES['Realty agents']
df_train['OCCUPATION_TYPE_SALES_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Sales staff']
df_train['OCCUPATION_TYPE_SECRETARIES'] = df_train_OCCUPATION_TYPE_DUMMIES['Secretaries']
df_train['OCCUPATION_TYPE_SECURITY_STAFF'] = df_train_OCCUPATION_TYPE_DUMMIES['Security staff']
df_train['OCCUPATION_TYPE_WAITERS'] = df_train_OCCUPATION_TYPE_DUMMIES['Waiters/barmen staff']
df_train['OCCUPATION_TYPE_UNKNOWN'] = df_train_OCCUPATION_TYPE_DUMMIES['unknown']

In [73]:
pd.get_dummies(df_train['OCCUPATION_TYPE'])

,Accountants,Cleaning staff,Cooking staff,Core staff,Drivers,HR staff,High skill tech staff,IT staff,Laborers,Low-skill Laborers,Managers,Medicine staff,Private service staff,Realty agents,Sales staff,Secretaries,Security staff,Waiters/barmen staff,unknown
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
19,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
29,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99972,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99973,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
99974,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99975,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99976,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
99977,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
99978,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
99979,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99980,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
99981,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
99982,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
99983,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99984,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
99985,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99986,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
99987,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
99988,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99989,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99990,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
99991,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
99992,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
99993,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99994,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99995,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
99996,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
99998,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
99999,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
100000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [74]:
#THe next column we will look at is CNT_FAM_MEMBERS
#This column counts how many family members an applicant has
#Since this column is already numeric, we will just need to check for missing values
df_train['CNT_FAM_MEMBERS'].isnull().sum()
#It looks like there is 1 missing value in this column.  We will replace it with the column mode

1

In [75]:
family_mode = df_train['CNT_FAM_MEMBERS'].mode()
print(family_mode)

0    2.0
dtype: float64

In [76]:
df_train['CNT_FAM_MEMBERS'] = df_train['CNT_FAM_MEMBERS'].fillna(2)

In [77]:
df_train['CNT_FAM_MEMBERS'].isnull().sum()
#It looks like we have successfully removed the missing value from this column.

0

In [78]:
#The next column we will look at is REGION RATING CLIENT
#This column shows the rating of the region by home credit
#Since it is already numeric, we will only need to check for missing values
df_train['REGION_RATING_CLIENT'].isnull().sum()
#It looks like there are not any missing values so we can move on to the next column

0

In [79]:
#The next column we will look at is REGION_RATING_CLIENT_W_CITY
#Home Credit's rating of region taking the city into account
#Since this column is already numeric, we will just need to check for missing values
df_train['REGION_RATING_CLIENT_W_CITY'].isnull().sum()
#It doesn't look like there are any missing values so we can move on to the next column

0

In [80]:
#The next column we will look at is WEEKDAY_APPR_PROCESS_START
#This column indicates what day of the week the client applied for a loan
#Since it is in string form, we will need to create dummy columns for each category.
#First, we will check for missing values
df_train['WEEKDAY_APPR_PROCESS_START'].isnull().sum()
#There are not any missing values in this column so we will move on to the dummy column creation

0

In [81]:
df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES = pd.get_dummies(df_train['WEEKDAY_APPR_PROCESS_START'])

In [82]:
df_train['WEEKDAY_APPR_PROCESS_START_FRIDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['FRIDAY']
df_train['WEEKDAY_APPR_PROCESS_START_MONDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['MONDAY']
df_train['WEEKDAY_APPR_PROCESS_START_SATURDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['SATURDAY']
df_train['WEEKDAY_APPR_PROCESS_START_SUNDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['SUNDAY']
df_train['WEEKDAY_APPR_PROCESS_START_THURSDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['THURSDAY']
df_train['WEEKDAY_APPR_PROCESS_START_TUESDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['TUESDAY']
df_train['WEEKDAY_APPR_PROCESS_START_WEDNESDAY'] = df_train_WEEKDAY_APPR_PROCESS_START_DUMMIES['WEDNESDAY']

In [83]:
pd.get_dummies(df_train['WEEKDAY_APPR_PROCESS_START'])

        FRIDAY  MONDAY  SATURDAY  SUNDAY  THURSDAY  TUESDAY  WEDNESDAY
0            0       0         0       0         0        0          1
1            0       1         0       0         0        0          0
2            0       1         0       0         0        0          0
3            0       0         0       0         0        0          1
4            0       0         0       0         1        0          0
5            0       0         0       0         0        0          1
6            0       0         0       1         0        0          0
7            0       1         0       0         0        0          0
8            0       0         0       0         0        0          1
9            0       0         0       0         1        0          0
10           0       0         1       0         0        0          0
11           1       0         0       0         0        0          0
12           1       0         0       0         0        0          0
13           0       0         0       0         1        0          0
14           0       1         0       0         0        0          0
15           0       0         1       0         0        0          0
16           0       0         0       0         1        0          0
17           0       1         0       0         0        0          0
18           1       0         0       0         0        0          0
19           0       1         0       0         0        0          0
20           1       0         0       0         0        0          0
21           0       1         0       0         0        0          0
22           0       0         0       0         1        0          0
23           1       0         0       0         0        0          0
24           0       0         0       0         1        0          0
25           0       0         1       0         0        0          0
26           0       1         0       0         0        0          0
27           0       0         1       0         0        0          0
28           0       0         0       0         0        0          1
29           0       0         0       0         0        1          0
...        ...     ...       ...     ...       ...      ...        ...
99971        0       0         0       0         0        1          0
99972        0       0         1       0         0        0          0
99973        1       0         0       0         0        0          0
99974        0       0         0       0         0        1          0
99975        0       0         0       0         0        0          1
99976        0       1         0       0         0        0          0
99977        0       0         0       1         0        0          0
99978        0       0         0       1         0        0          0
99979        1       0         0       0         0        0          0
99980        0       0         1       0         0        0          0
99981        0       0         0       1         0        0          0
99982        0       0         0       0         0        0          1
99983        0       0         0       1         0        0          0
99984        1       0         0       0         0        0          0
99985        0       0         1       0         0        0          0
99986        0       0         0       0         0        1          0
99987        1       0         0       0         0        0          0
99988        1       0         0       0         0        0          0
99989        0       1         0       0         0        0          0
99990        0       1         0       0         0        0          0
99991        0       1         0       0         0        0          0
99992        0       0         0       0         0        0          1
99993        0       0         0       0         0        1          0
99994        0       0         1       0         0        0          0
99995        0       1         0       0         0        0          0
99996        0       0         0       0         0        1          0
99997        0       0         0       0         0        1          0
99998        1       0         0       0         0        0          0
99999        0       0         1       0         0        0          0
100000       0       0         0       0         0        1          0

[100001 rows x 7 columns]

In [84]:
#The next column we will work with is HOUR_APPR_PROCESS_START
#This column indicates what hour  customer came in to apply for the loan
#This column contains strings so we will need to create dummy columns for each category
#First though, we will check for missing values
df_train['HOUR_APPR_PROCESS_START'].isnull().sum()
#There are not any missing values in this column so we can go ahead with creating dummy columns

0

In [85]:
HOUR_DUMMIES = pd.get_dummies(df_train['HOUR_APPR_PROCESS_START'])

In [86]:
pd.get_dummies(df_train['HOUR_APPR_PROCESS_START'])

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
99972,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99973,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
99974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99976,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99978,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
99979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99985,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99987,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
99988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
99989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
99990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
99991,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
99992,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
99993,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
99994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100000,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [87]:
df_train = pd.concat([df_train, HOUR_DUMMIES], axis=1)

In [88]:
df_traincols = list(df_train.columns.values)
print(df_traincols)
#It looks like we found a quicker way to put these columns together by using pd.concat.

['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'NAME_CONTRACT_TYPE_NUMERIC', 'CODE_GENDER_NUMERIC', 'FLAG_OWN_CAR_NUMERIC', 'FLAG_OWN_REALTY_NUMERIC', 'NAME_SUITE_TYPE_UNACCOMPANIED', 'NAME_SUITE_TYPE_OTHER_B', 'NAME_SUITE_TYPE_OTHER_A', 'NAME_SUITE_TYPE_CHILDREN', 'NAME_SUITE_TYPE_FAMILY', 'NAME_SUITE_TYPE_GROUP', 'NAME_SUITE_TYPE_SPOUSE', 'NAME_INCOME_TYPE_BUSINESSMAN', 'NAME_INCOME_TYPE_COMMERCIAL_ASSOCIATE', 'NAME_INCOME_TYPE_MATERNITY_LEAVE', 'NAME_INCOME_TYPE_PENSIONER', 'NAME_INCOME_TYPE_COMMERCIAL_STATE_SERVANT', 'NAME_INCOME_TYPE_STUDENT', 'NAME_INCOME_TYPE_COMMERCIAL_UNEMPLOYED', 'NAME_INCOME_TYPE_COMMERCIAL_WORKING', 'NAME_EDUCATION_TYPE_ACADEMIC_DEGREE', 'NAME_EDUCATION_TYPE_HIGHER_EDUCATION', 'NAME_EDUCATION_TYPE_INCOMPLETE_HIGHER', 'NAME_EDUCATION_TYPE_LOWER_SECONDARY', 'NAME_EDUCATION_TYPE_SECONDARY', 'NAME_FAMILY_STATUS_CIVIL_MARRIAGE', 'NAME_FAMILY_STATUS_MARRIED', 'NAME_FAMILY_STATUS_SEPARATED', 'NAME_FAMILY_STATUS_SINGLE', 'NAME_FAMILY_STATUS_UNKNOWN', 'NAME_FAMILY_STATUS_CIVIL_WIDOW', 'NAME_HOUSING_TYPE_CO_OP_APARTMENT', 'NAME_HOUSING_TYPE_HOUSE_APARTMENT', 'NAME_HOUSING_TYPE_MUNICIPAL_APARTMENT', 'NAME_HOUSING_TYPE_OFFICE_APARTMENT', 'NAME_HOUSING_TYPE_RENTED_APARTMENT', 'NAME_HOUSING_TYPE_PARENTS', 'OCCUPATION_TYPE_ACCOUNTANT', 'OCCUPATION_TYPE_CLEANING_STAFF', 'OCCUPATION_TYPE_COOKING_STAFF', 'OCCUPATION_TYPE_CORE_STAFF', 'OCCUPATION_TYPE_DRIVERS', 'OCCUPATION_TYPE_HR_STAFF', 'OCCUPATION_TYPE_HIGH_SKILL_TECH_STAFF', 'OCCUPATION_TYPE_IT_STAFF', 'OCCUPATION_TYPE_LABORERS', 'OCCUPATION_TYPE_LOW_SKILL_LABORERS', 'OCCUPATION_TYPE_MANAGERS', 'OCCUPATION_TYPE_MEDICINE_STAFF', 'OCCUPATION_TYPE_PRIVATE_SERVICE_STAFF', 'OCCUPATION_TYPE_REALTY_AGENTS', 'OCCUPATION_TYPE_SALES_STAFF', 'OCCUPATION_TYPE_SECRETARIES', 'OCCUPATION_TYPE_SECURITY_STAFF', 'OCCUPATION_TYPE_WAITERS', 'OCCUPATION_TYPE_UNKNOWN', 'WEEKDAY_APPR_PROCESS_START_FRIDAY', 'WEEKDAY_APPR_PROCESS_START_MONDAY', 'WEEKDAY_APPR_PROCESS_START_SATURDAY', 'WEEKDAY_APPR_PROCESS_START_SUNDAY', 'WEEKDAY_APPR_PROCESS_START_THURSDAY', 'WEEKDAY_APPR_PROCESS_START_TUESDAY', 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [89]:
#THe next column we will look at is REG_REGION_NOT_LIVE_REGION
#This column indicates a 1 if the client address does not match the contact address
#Since this column is already numeric, we will just need to check for missing values
df_train['REG_REGION_NOT_LIVE_REGION'].isnull().sum()
#It doesn't look like there are any missings values in this column.

0

In [90]:
#The next column we will look at is REG_REGION_NOT_WORK_REGION
#This column indicates a 1 if the clients contact address and work address do not match
#Since the values in this column are already numeric, we just need to check for missing values
df_train['REG_REGION_NOT_WORK_REGION'].isnull().sum()
#There are not any missing values in this column so we can move on to the next column.

0

In [91]:
#The next column we will look at is LIVE_REGION_NOT_WORK_REGION
#This column indicates a 1 if the applicant lives in the region but does not work in the region
#Since this column is already numeric, we just need to check for missing values
df_train['LIVE_REGION_NOT_WORK_REGION'].isnull().sum()
#Since there are no missing values, we can move on to the next column

0

In [92]:
#The next column we will look at is the REG_CITY_NOT_LIVE_CITY
#This column indicates a 1 if the client's permanent address does not match their contact address
#Since this column is already numeric, we just need to check for missing values
df_train['REG_CITY_NOT_LIVE_CITY'].isnull().sum()
#Since there are no missing values in this column, we can move on to the next one

0

In [93]:
#The next column we will look at is REG_CITY_NOT_WORK_CITY
#This column indicates if cleitns permanent address does not match their work address
#Since this column is already numeric, we just need to see if there are any missing values
df_train['REG_CITY_NOT_WORK_CITY'].isnull().sum()
#There are not any missing values so we can move on to the next column

0

In [94]:
#The next column we will look at is LIVE_CITY_NOT_WORK_CITY
#This column indicates if the contact address does not match the work address
#Since this column is already numeric, we will just need to check for missing values
df_train['LIVE_CITY_NOT_WORK_CITY'].isnull().sum()
#There are not any missing values in this column

0

In [95]:
df_train['LIVE_CITY_NOT_WORK_CITY'].shape

(100001,)

In [96]:
#The next column we will look at is ORGANIZATION_TYPE
#This column shows what kind of organization a client works for
#Since this column contains strings, we will need to create dummy columns for each possible answer
#First, we will check for missing values
df_train['ORGANIZATION_TYPE'].isnull().sum()
#There are not any missing values so we can proceed to creating dummy columns

0

In [97]:
organization_type_dummies = pd.get_dummies(df_train['ORGANIZATION_TYPE'])
df_train = pd.concat([df_train, organization_type_dummies], axis = 1)

In [98]:
organization_type_dummies.shape

(100001, 58)

In [99]:
df_train = pd.concat([df_train, organization_type_dummies], axis=1)

In [100]:
#The next column we will look at is EXT_SOURCE_1
#This column indicates a normalized score from an external data source
#Since this column is numeric, we will just need to check it for missing values
df_train['EXT_SOURCE_1'].isnull().sum()
#It looks like over half of these scores are missing.  We don't want to throw away 40000+ rows of data though so we will predict
#Since this is a score of 0 through 1, we will use the mean of the whole column

56284

In [101]:
np.mean(df_train['EXT_SOURCE_1'])

0.5029703925122334

In [102]:
df_train['EXT_SOURCE_1'] = df_train['EXT_SOURCE_1'].fillna(0.503)

In [103]:
#The next column we will look at is EXT_SOURCE_2
#This column is similar to the previous line but from a different external source
#Since this column is numeric, we will just have to check for missing values
df_train['EXT_SOURCE_2'].isnull().sum()
#We will use the same approach to filling these missing values as we had in the previous line

215

In [104]:
df_train['EXT_SOURCE_2'] = df_train['EXT_SOURCE_2'].fillna(np.mean(df_train['EXT_SOURCE_2']))
df_train['EXT_SOURCE_2'].isnull().sum()

0

In [105]:
#The next column we will look at is EXT_SOURCE_3
#This column is similar to the previous two columns.  We will use the column mean to fill any missing values
df_train['EXT_SOURCE_3'].isnull().sum()

19827

In [106]:
df_train['EXT_SOURCE_3'] = df_train['EXT_SOURCE_3'].fillna(np.mean(df_train['EXT_SOURCE_3']))
df_train['EXT_SOURCE_3'].isnull().sum()

0

In [107]:
#The next column we will look at is APARTMENTS_AVG
#This column shows info about where a client lives
#Since it is numeric, we will just need to check for missing values.
df_train['APARTMENTS_AVG'].isnull().sum()

50682

In [108]:
np.mean(df_train['APARTMENTS_AVG'])

0.11725259433483981

In [109]:
df_train['APARTMENTS_AVG'] = df_train['APARTMENTS_AVG'].fillna(np.mean(df_train['APARTMENTS_AVG']))

In [110]:
#The next column we will look at is BASEMENTAREA_AVG
#This column shows basement info about where the client lives
#Since this column already has numeric values, we just need to fill in the missing values
df_train['BASEMENTAREA_AVG'].isnull().sum()

58360

In [111]:
df_train['BASEMENTAREA_AVG'] = df_train['BASEMENTAREA_AVG'].fillna(np.mean(df_train['BASEMENTAREA_AVG']))
df_train['BASEMENTAREA_AVG'].isnull().sum()

0

In [112]:
#The next column we are going to look at is YEARS_BEGINEXPLATATION_AVG
#This column contains external data 
#Since the values are already numeric we will just need to check for missing values
df_train['YEARS_BEGINEXPLUATATION_AVG'].isnull().sum()

48701

In [113]:
df_train['YEARS_BEGINEXPLUATATION_AVG'] = df_train['YEARS_BEGINEXPLUATATION_AVG'].fillna(np.mean(df_train['YEARS_BEGINEXPLUATATION_AVG']))
df_train['YEARS_BEGINEXPLUATATION_AVG'].isnull().sum()

0

In [114]:
#The next column we will look at is YEARS_BUILD_AVG
#This column contains info about where the client lives
#Since the data is already numeric, we will just need to check for missing values
df_train['YEARS_BUILD_AVG'].isnull().sum()

66347

In [115]:
df_train['YEARS_BUILD_AVG'] = df_train['YEARS_BUILD_AVG'].fillna(np.mean(df_train['YEARS_BUILD_AVG']))
df_train['YEARS_BUILD_AVG'].isnull().sum()

0

In [116]:
#The next column we will look at is COMMONAREA_AVG
df_train['COMMONAREA_AVG'].isnull().sum()

69733

In [117]:
df_train['COMMONAREA_AVG'] = df_train['COMMONAREA_AVG'].fillna(np.mean(df_train['COMMONAREA_AVG']))
df_train['COMMONAREA_AVG'].isnull().sum()

0

In [118]:
#The next column we will look at is ELEVATORS_AVG
#This column gives info on elevators
#Since the data is alreayd numeric, we will just need to check for missing values
df_train['ELEVATORS_AVG'].isnull().sum()

53300

In [119]:
df_train['ELEVATORS_AVG'] = df_train['ELEVATORS_AVG'].fillna(np.mean(df_train['ELEVATORS_AVG']))
df_train['ELEVATORS_AVG'].isnull().sum()

0

In [121]:
#The next column we will look at is ENTRANCES_AVG
#This column gives information about entrances
#Since the data is already numeric, we will just have to check for missing values
df_train['ENTRANCES_AVG'].isnull().sum()

50281

In [122]:
df_train['ENTRANCES_AVG'] = df_train['ENTRANCES_AVG'].fillna(np.mean(df_train['ENTRANCES_AVG']))
df_train['ENTRANCES_AVG'].isnull().sum()

0

In [123]:
#The next column we will look at is FLOORSMAX_AVG
#Since this data ia already numeric, we will just need to check for missing values
df_train['FLOORSMAX_AVG'].isnull().sum()

49688

In [124]:
df_train['FLOORSMAX_AVG'] = df_train['FLOORSMAX_AVG'].fillna(np.mean(df_train['FLOORSMAX_AVG']))
df_train['FLOORSMAX_AVG'].isnull().sum()

0

In [125]:
#The next column we will look at is FLOORSMIN_AVG
#Since this data is numeric, we will just need to check for missing values
df_train['FLOORSMIN_AVG'].isnull().sum()

67703

In [126]:
df_train['FLOORSMIN_AVG'] = df_train['FLOORSMIN_AVG'].fillna(np.mean(df_train['FLOORSMIN_AVG']))
df_train['FLOORSMIN_AVG'].isnull().sum()

0

In [127]:
#The next column we will look at is LANDAREA_AVG
#Since this data is numeric, we will just need to check for missing values
df_train['LANDAREA_AVG'].isnull().sum()

59251

In [128]:
df_train['LANDAREA_AVG'] = df_train['LANDAREA_AVG'].fillna(np.mean(df_train['LANDAREA_AVG']))
df_train['LANDAREA_AVG'].isnull().sum()

0

In [129]:
#The next column we will look at is LIVINGAPARTMENTS_AVG
#Since this column is numeric, we will just need to check for missing values
df_train['LIVINGAPARTMENTS_AVG'].isnull().sum()

68266

In [130]:
df_train['LIVINGAPARTMENTS_AVG'] = df_train['LIVINGAPARTMENTS_AVG'].fillna(np.mean(df_train['LIVINGAPARTMENTS_AVG']))
df_train['LIVINGAPARTMENTS_AVG'].isnull().sum()

0

In [131]:
#The next column we will look at is LIVINGAREA_AVG
#Since this data is already numeric, we will just need to check for missing values
df_train['LIVINGAREA_AVG'].isnull().sum()

50151

In [132]:
df_train['LIVINGAREA_AVG'] = df_train['LIVINGAREA_AVG'].fillna(np.mean(df_train['LIVINGAREA_AVG']))
df_train['LIVINGAREA_AVG'].isnull().sum()

0

In [133]:
#The next column we will look at is NONLIVINGAPARTMENTS_AVG
#Since this column is already numeric, we will just need to check for missing values
df_train['NONLIVINGAPARTMENTS_AVG'].isnull().sum()

69276

In [134]:
df_train['NONLIVINGAPARTMENTS_AVG'] = df_train['NONLIVINGAPARTMENTS_AVG'].fillna(np.mean(df_train['NONLIVINGAPARTMENTS_AVG']))
df_train['NONLIVINGAPARTMENTS_AVG'].isnull().sum()

0

In [135]:
#The next column we will look at is NONLIVINGAREA_AVG
#Since this column is numeric, we will just need to check for missing values
df_train['NONLIVINGAREA_AVG'].isnull().sum()

55070

In [136]:
df_train['NONLIVINGAREA_AVG'] = df_train['NONLIVINGAREA_AVG'].fillna(np.mean(df_train['NONLIVINGAREA_AVG']))
df_train['NONLIVINGAREA_AVG'].isnull().sum()

0

In [137]:
#The next column we will look at is APARTMENTS_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['APARTMENTS_MODE'].isnull().sum()

50682

In [138]:
df_train['APARTMENTS_MODE'] = df_train['APARTMENTS_MODE'].fillna(np.mean(df_train['APARTMENTS_MODE']))
df_train['APARTMENTS_MODE'].isnull().sum()

0

In [139]:
#The next column we will look at is BASEMENTAREA_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['BASEMENTAREA_MODE'].isnull().sum()

58360

In [140]:
df_train['BASEMENTAREA_MODE'] = df_train['BASEMENTAREA_MODE'].fillna(np.mean(df_train['BASEMENTAREA_MODE']))
df_train['BASEMENTAREA_MODE'].isnull().sum()

0

In [141]:
#The next column we will look at is YEARS_BEGINEXPLUATATION_MODE
#Since this column is already numeric, we just need to check for missing values
df_train['YEARS_BEGINEXPLUATATION_MODE'].isnull().sum()

48701

In [143]:
df_train['YEARS_BEGINEXPLUATATION_MODE'] = df_train['YEARS_BEGINEXPLUATATION_MODE'].fillna(np.mean(df_train['YEARS_BEGINEXPLUATATION_MODE']))
df_train['YEARS_BEGINEXPLUATATION_MODE'].isnull().sum()

0

In [144]:
##The next column we will look at is YEARS_BUILD_MODE
#Since the values are numeric, we will just need to check for missing values
df_train['YEARS_BUILD_MODE'].isnull().sum()

66347

In [145]:
df_train['YEARS_BUILD_MODE'] = df_train['YEARS_BUILD_MODE'].fillna(np.mean(df_train['YEARS_BUILD_MODE']))
df_train['YEARS_BUILD_MODE'].isnull().sum()

0

In [146]:
#The next column we will look at is COMMONAREA_MODE
#Since the values are numeric, we will just need to check for missing values
df_train['COMMONAREA_MODE'].isnull().sum()

69733

In [147]:
df_train['COMMONAREA_MODE'] = df_train['COMMONAREA_MODE'].fillna(np.mean(df_train['COMMONAREA_MODE']))
df_train['COMMONAREA_MODE'].isnull().sum()

0

In [148]:
#The next column we will look at is ELEVATORS_MODE
#Since this column is numeric, we will just need to check for missing values
df_train['ELEVATORS_MODE'].isnull().sum()

53300

In [149]:
df_train['ELEVATORS_MODE'] = df_train['ELEVATORS_MODE'].fillna(np.mean(df_train['ELEVATORS_MODE']))
df_train['ELEVATORS_MODE'].isnull().sum()

0

In [150]:
#The next column we will look at is ENTRANCES_MODE
#since the data is already numeric, we will just need to check for missing values
df_train['ENTRANCES_MODE'].isnull().sum()

50281

In [151]:
df_train['ENTRANCES_MODE'] = df_train['ENTRANCES_MODE'].fillna(np.mean(df_train['ENTRANCES_MODE']))
df_train['ENTRANCES_MODE'].isnull().sum()

0

In [152]:
#The next column we will look at is FLOORSMAX_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['FLOORSMAX_MODE'].isnull().sum()

49688

In [153]:
df_train['FLOORSMAX_MODE'] = df_train['FLOORSMAX_MODE'].fillna(np.mean(df_train['FLOORSMAX_MODE']))
df_train['FLOORSMAX_MODE'].isnull().sum()

0

In [154]:
#The next column we will look at is FLOORSMIN_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['FLOORSMIN_MODE'].isnull().sum()

67703

In [155]:
df_train['FLOORSMIN_MODE'] = df_train['FLOORSMIN_MODE'].fillna(np.mean(df_train['FLOORSMIN_MODE']))
df_train['FLOORSMIN_MODE'].isnull().sum()

0

In [156]:
#The next column we will look at is LANDAREA_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['LANDAREA_MODE'].isnull().sum()

59251

In [157]:
df_train['LANDAREA_MODE'] = df_train['LANDAREA_MODE'].fillna(np.mean(df_train['LANDAREA_MODE']))
df_train['LANDAREA_MODE'].isnull().sum()

0

In [158]:
#The next column we will look at is LIVINGAPARTMENTS_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['LIVINGAPARTMENTS_MODE'].isnull().sum()

68266

In [159]:
df_train['LIVINGAPARTMENTS_MODE'] = df_train['LIVINGAPARTMENTS_MODE'].fillna(np.mean(df_train['LIVINGAPARTMENTS_MODE']))
df_train['LIVINGAPARTMENTS_MODE'].isnull().sum()

0

In [160]:
#The next column we will look at is LIVINGAREA_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['LIVINGAREA_MODE'].isnull().sum()

50151

In [161]:
df_train['LIVINGAREA_MODE'] = df_train['LIVINGAREA_MODE'].fillna(np.mean(df_train['LIVINGAREA_MODE']))
df_train['LIVINGAREA_MODE'].isnull().sum()

0

In [162]:
#The next column we will look at is NONLIVINGAPARTMENTS_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['NONLIVINGAPARTMENTS_MODE'].isnull().sum()

69276

In [163]:
df_train['NONLIVINGAPARTMENTS_MODE'] = df_train['NONLIVINGAPARTMENTS_MODE'].fillna(np.mean(df_train['NONLIVINGAPARTMENTS_MODE']))
df_train['NONLIVINGAPARTMENTS_MODE'].isnull().sum()

0

In [164]:
#The next column we will look at is NONLIVINGAREA_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['NONLIVINGAREA_MODE'].isnull().sum()

55070

In [165]:
df_train['NONLIVINGAREA_MODE'] = df_train['NONLIVINGAREA_MODE'].fillna(np.mean(df_train['NONLIVINGAREA_MODE']))
df_train['NONLIVINGAREA_MODE'].isnull().sum()

0

In [166]:
#The next column we will look at is APARTMENTS_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['APARTMENTS_MEDI'].isnull().sum()

50682

In [167]:
df_train['APARTMENTS_MEDI'] = df_train['APARTMENTS_MEDI'].fillna(np.mean(df_train['APARTMENTS_MEDI']))
df_train['APARTMENTS_MEDI'].isnull().sum()

0

In [168]:
#The next column we will look at is BASEMENTAREA_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['BASEMENTAREA_MEDI'].isnull().sum()

58360

In [169]:
df_train['BASEMENTAREA_MEDI'] = df_train['BASEMENTAREA_MEDI'].fillna(np.mean(df_train['BASEMENTAREA_MEDI']))
df_train['BASEMENTAREA_MEDI'].isnull().sum()

0

In [170]:
#The next column we will look at is YEARS_BEGINEXPLUATATION_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['YEARS_BEGINEXPLUATATION_MEDI'].isnull().sum()

48701

In [171]:
df_train['YEARS_BEGINEXPLUATATION_MEDI'] = df_train['YEARS_BEGINEXPLUATATION_MEDI'].fillna(np.mean(df_train['YEARS_BEGINEXPLUATATION_MEDI']))
df_train['YEARS_BEGINEXPLUATATION_MEDI'].isnull().sum()

0

In [172]:
#The next column we will look at is YEARS_BUILD_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['YEARS_BUILD_MEDI'].isnull().sum()

66347

In [173]:
df_train['YEARS_BUILD_MEDI'] = df_train['YEARS_BUILD_MEDI'].fillna(np.mean(df_train['YEARS_BUILD_MEDI']))
df_train['YEARS_BUILD_MEDI'].isnull().sum()

0

In [174]:
#The next column we will look at is COMMONAREA_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['COMMONAREA_MEDI'].isnull().sum()

69733

In [175]:
df_train['COMMONAREA_MEDI'] = df_train['COMMONAREA_MEDI'].fillna(np.mean(df_train['COMMONAREA_MEDI']))
df_train['COMMONAREA_MEDI'].isnull().sum()

0

In [176]:
#The next column we will look at is ELEVATORS_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['ELEVATORS_MEDI'].isnull().sum()

53300

In [177]:
df_train['ELEVATORS_MEDI'] = df_train['ELEVATORS_MEDI'].fillna(np.mean(df_train['ELEVATORS_MEDI']))
df_train['ELEVATORS_MEDI'].isnull().sum()

0

In [178]:
#The next column we will look at is ENTRANCES_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['ENTRANCES_MEDI'].isnull().sum()

50281

In [179]:
df_train['ENTRANCES_MEDI'] = df_train['ENTRANCES_MEDI'].fillna(np.mean(df_train['ENTRANCES_MEDI']))
df_train['ENTRANCES_MEDI'].isnull().sum()

0

In [180]:
#The next column we will look at is FLOORSMAX_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['FLOORSMAX_MEDI'].isnull().sum()

49688

In [181]:
df_train['FLOORSMAX_MEDI'] = df_train['FLOORSMAX_MEDI'].fillna(np.mean(df_train['FLOORSMAX_MEDI']))
df_train['FLOORSMAX_MEDI'].isnull().sum()

0

In [182]:
#The next column we will look at is FLOORSMIN_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['FLOORSMIN_MEDI'].isnull().sum()

67703

In [183]:
df_train['FLOORSMIN_MEDI'] = df_train['FLOORSMIN_MEDI'].fillna(np.mean(df_train['FLOORSMIN_MEDI']))
df_train['FLOORSMIN_MEDI'].isnull().sum()

0

In [184]:
#The next column we will look at is LANDAREA_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['LANDAREA_MEDI'].isnull().sum()

59251

In [185]:
df_train['LANDAREA_MEDI'] = df_train['LANDAREA_MEDI'].fillna(np.mean(df_train['LANDAREA_MEDI']))
df_train['LANDAREA_MEDI'].isnull().sum()

0

In [186]:
#The next column we will look at is LIVINGAPARTMENTS_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['LIVINGAPARTMENTS_MEDI'].isnull().sum()

68266

In [187]:
df_train['LIVINGAPARTMENTS_MEDI'] = df_train['LIVINGAPARTMENTS_MEDI'].fillna(np.mean(df_train['LIVINGAPARTMENTS_MEDI']))
df_train['LIVINGAPARTMENTS_MEDI'].isnull().sum()

0

In [188]:
#The next column we will look at is LIVINGAREA_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['LIVINGAREA_MEDI'].isnull().sum()

50151

In [189]:
df_train['LIVINGAREA_MEDI'] = df_train['LIVINGAREA_MEDI'].fillna(np.mean(df_train['LIVINGAREA_MEDI']))
df_train['LIVINGAREA_MEDI'].isnull().sum()

0

In [190]:
#The next column we will look at is NONLIVINGAPARTMENTS_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['NONLIVINGAPARTMENTS_MEDI'].isnull().sum()

69276

In [191]:
df_train['NONLIVINGAPARTMENTS_MEDI'] = df_train['NONLIVINGAPARTMENTS_MEDI'].fillna(np.mean(df_train['NONLIVINGAPARTMENTS_MEDI']))
df_train['NONLIVINGAPARTMENTS_MEDI'].isnull().sum()

0

In [192]:
#The next column we will look at is NONLIVINGAREA_MEDI
#Since this column is already numeric, we will just need to check for missing values
df_train['NONLIVINGAREA_MEDI'].isnull().sum()

55070

In [193]:
df_train['NONLIVINGAREA_MEDI'] = df_train['NONLIVINGAREA_MEDI'].fillna(np.mean(df_train['NONLIVINGAREA_MEDI']))
df_train['NONLIVINGAREA_MEDI'].isnull().sum()

0

In [194]:
#The next column we will look at is FONDKAPREMONT_MODE
#This column contains strings so we will need to create dummy columns for each unique value
#First though, we will check for missing values
df_train['FONDKAPREMONT_MODE'].isnull().sum()
#It looks like there are quite a few missing values in this column. Since we can't predict which column is which
# we will simply create an extra column called 'UNKNOWN'

68219

In [195]:
df_train['FONDKAPREMONT_MODE']= df_train['FONDKAPREMONT_MODE'].fillna('unknown')

In [196]:
fondkadummies = pd.get_dummies(df_train['FONDKAPREMONT_MODE'])

In [197]:
df_train = pd.concat([df_train, fondkadummies], 1)

In [198]:
#The next column we will look at is HOUSETYPE_MODE
#This column contains strings so we will need to create dummy columns.
#First though, we will need to check for missing values
df_train['HOUSETYPE_MODE'].isnull().sum()

50105

In [199]:
#Since there are strings in this column that we can't reliably predict, we will need to create a separate category called
#'unknown'
df_train['HOUSETYPE_MODE'] = df_train['HOUSETYPE_MODE'].fillna('unknown')
housetypedummies = pd.get_dummies(df_train['HOUSETYPE_MODE'])
dwf_train = pd.concat([df_train, housetypedummies], axis=1)

In [200]:
#The next column we will look at is TOTALAREA_MODE
#Since this column is already numeric, we will just need to check for missing values
df_train['TOTALAREA_MODE'].isnull().sum()

48223

In [201]:
#Since there are so many missing vlaues, we will fill them by using the mean
df_train['TOTALAREA_MODE']=df_train['TOTALAREA_MODE'].fillna(np.mean(df_train['TOTALAREA_MODE']))
df_train['TOTALAREA_MODE'].isnull().sum()

0

In [202]:
#The next collumn we will look at is the WALLSMATERIAL_MODE
#Since this column contains strings, we will need to create dummy columns
#First though, we will check for missing values
df_train['WALLSMATERIAL_MODE'].isnull().sum()

50765

In [203]:
#Since there are so many missing values, any attempt at predicting their value would seriously affect the data
#Because of this, we will simply fill the missing columns with 'unknown'
df_train['WALLSMATERIAL_MODE']= df_train['WALLSMATERIAL_MODE'].fillna('unknown')
walldummies = pd.get_dummies(df_train['WALLSMATERIAL_MODE'])
df_train['WALLSMATERIAL_MODE'] = pd.concat([df_train['WALLSMATERIAL_MODE'], walldummies], axis=1)

In [204]:
#The next column we will look at is EMERGENCYSTATE_MODE
#This column has yes and no values so we will have to make 1 dummy column.  
#First though, we will check for missing values
df_train['EMERGENCYSTATE_MODE'].isnull().sum()
#There are a lot of missing values so we will create a third option, 'unknown'

47333

In [205]:
df_train['EMERGENCYSTATE_MODE']= df_train['EMERGENCYSTATE_MODE'].fillna('unknown')
emergencydummies = pd.get_dummies(df_train['EMERGENCYSTATE_MODE'])
df_train['EMERGENCYSTATE_MODE'] = pd.concat([df_train['EMERGENCYSTATE_MODE'], emergencydummies], axis=1)

In [206]:
#The next column we will look at is OBS_30_CNT_SOCIAL_CIRCLE
#This column indicates how many people in clients social cirlce appear to be 30 dpd
#Since this column is already numeric, we will just need to check for missing values
df_train['OBS_30_CNT_SOCIAL_CIRCLE'].isnull().sum()
#To fill the missing values here, we will use the mode

327

In [207]:
df_train['OBS_30_CNT_SOCIAL_CIRCLE'].mode()

0    0.0
dtype: float64

In [208]:
df_train['OBS_30_CNT_SOCIAL_CIRCLE']= df_train['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(0)
df_train['OBS_30_CNT_SOCIAL_CIRCLE'].isnull().sum()

0

In [209]:
#The next column we will look at is OBS_60_CNT_SOCIAL_CIRCLE
#This column indicates how many people in clients social cirlce appear to be 60 dpd
#Since this column is already numeric, we will just need to check for missing values
df_train['OBS_60_CNT_SOCIAL_CIRCLE'].isnull().sum()
#To fill the missing values here, we will use the mode

327

In [210]:
df_train['OBS_60_CNT_SOCIAL_CIRCLE'].mode()

0    0.0
dtype: float64

In [211]:
df_train['OBS_60_CNT_SOCIAL_CIRCLE']= df_train['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(0)
df_train['OBS_60_CNT_SOCIAL_CIRCLE'].isnull().sum()

0

In [212]:
#The next column we will look at is DEF_30_CNT_SOCIAL_CIRCLE
#This column indicates how many people in clients social cirlce are to be 30 dpd
#Since this column is already numeric, we will just need to check for missing values
df_train['DEF_30_CNT_SOCIAL_CIRCLE'].isnull().sum()
#To fill the missing values here, we will use the mode

327

In [213]:
df_train['DEF_30_CNT_SOCIAL_CIRCLE'].mode()

0    0.0
dtype: float64

In [214]:
df_train['DEF_30_CNT_SOCIAL_CIRCLE']= df_train['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(0)
df_train['DEF_30_CNT_SOCIAL_CIRCLE'].isnull().sum()

0

In [215]:
#The next column we will look at is DEF_60_CNT_SOCIAL_CIRCLE
#This column indicates how many people in clients social cirlce are to be 30 dpd
#Since this column is already numeric, we will just need to check for missing values
df_train['DEF_60_CNT_SOCIAL_CIRCLE'].isnull().sum()
#To fill the missing values here, we will use the mode

327

In [216]:
df_train['DEF_60_CNT_SOCIAL_CIRCLE'].mode()

0    0.0
dtype: float64

In [217]:
df_train['DEF_60_CNT_SOCIAL_CIRCLE']= df_train['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(0)
df_train['DEF_60_CNT_SOCIAL_CIRCLE'].isnull().sum()

0

In [218]:
#The next column we will look at is DAYS_LAST_PHONE_CHANGE
#This column indicates how long it has been since someone last changed their phone number
#Since this column is already numeric, we will just need to check for missing values
df_train['DAYS_LAST_PHONE_CHANGE'].isnull().sum()

1

In [219]:
df_train['DAYS_LAST_PHONE_CHANGE'].mode()

0    0.0
dtype: float64

In [220]:
df_train['DAYS_LAST_PHONE_CHANGE']=df_train['DAYS_LAST_PHONE_CHANGE'].fillna(0)
df_train['DAYS_LAST_PHONE_CHANGE'].isnull().sum()

0

In [221]:
#The next column we will look at is FLAG_DOCUMENT_2
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_2'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [222]:
#The next column we will look at is FLAG_DOCUMENT_3
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_3'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [223]:
#The next column we will look at is FLAG_DOCUMENT_4
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_4'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [224]:
#The next column we will look at is FLAG_DOCUMENT_5
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_5'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [225]:
#The next column we will look at is FLAG_DOCUMENT_6
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_6'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [226]:
#The next column we will look at is FLAG_DOCUMENT_7
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_7'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [227]:
#The next column we will look at is FLAG_DOCUMENT_8
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_8'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [228]:
#The next column we will look at is FLAG_DOCUMENT_9
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_9'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [229]:
#The next column we will look at is FLAG_DOCUMENT_10
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_10'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [230]:
#The next column we will look at is FLAG_DOCUMENT_11
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_11'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [231]:
#The next column we will look at is FLAG_DOCUMENT_12
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_12'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [232]:
#The next column we will look at is FLAG_DOCUMENT_13
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_13'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [233]:
#The next column we will look at is FLAG_DOCUMENT_14
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_14'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [234]:
#The next column we will look at is FLAG_DOCUMENT_15
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_15'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [235]:
#The next column we will look at is FLAG_DOCUMENT_16
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_16'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [236]:
#The next column we will look at is FLAG_DOCUMENT_17
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_17'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [237]:
#The next column we will look at is FLAG_DOCUMENT_18
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_18'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [238]:
#The next column we will look at is FLAG_DOCUMENT_19
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_19'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [239]:
#The next column we will look at is FLAG_DOCUMENT_20
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_20'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [257]:
#The next column we will look at is FLAG_DOCUMENT_21
#This column indicates whether a certain document was received or not
#Since this data is already numeric, we will just need to check for missing values
df_train['FLAG_DOCUMENT_21'].isnull().sum()
#Since there are not missing values in this column, we can move on to the next one

0

In [240]:
#The next column we will look at is AMT_REQ_CREDIT_BUREAU_HOUR
#This column indicates the CB inquiries the hour before the applcation is filled out
#Since this column is already numeric, we will just need to check for missing values
df_train['AMT_REQ_CREDIT_BUREAU_HOUR'].isnull().sum()
#To fill in these missing values, we will use the mode

13437

In [241]:
df_train['AMT_REQ_CREDIT_BUREAU_HOUR'].mode()

0    0.0
dtype: float64

In [242]:
df_train['AMT_REQ_CREDIT_BUREAU_HOUR']=df_train['AMT_REQ_CREDIT_BUREAU_HOUR'].fillna(0)
df_train['AMT_REQ_CREDIT_BUREAU_HOUR'].isnull().sum()

0

In [243]:
#The next column we will look at is AMT_REQ_CREDIT_BUREAU_DAY
#This column indicates the CB inquiries the day before the applcation is filled out
#Since this column is already numeric, we will just need to check for missing values
df_train['AMT_REQ_CREDIT_BUREAU_DAY'].isnull().sum()
#To fill in these missing values, we will use the mode

13437

In [244]:
df_train['AMT_REQ_CREDIT_BUREAU_DAY'].mode()

0    0.0
dtype: float64

In [245]:
df_train['AMT_REQ_CREDIT_BUREAU_DAY']=df_train['AMT_REQ_CREDIT_BUREAU_DAY'].fillna(0)
df_train['AMT_REQ_CREDIT_BUREAU_DAY'].isnull().sum()

0

In [247]:
#The next column we will look at is AMT_REQ_CREDIT_BUREAU_WEEK
#This column indicates the CB inquiries the week before the applcation is filled out
#Since this column is already numeric, we will just need to check for missing values
df_train['AMT_REQ_CREDIT_BUREAU_WEEK'].isnull().sum()
#To fill in these missing values, we will use the mode

13437

In [248]:
df_train['AMT_REQ_CREDIT_BUREAU_WEEK'].mode()

0    0.0
dtype: float64

In [249]:
df_train['AMT_REQ_CREDIT_BUREAU_WEEK']=df_train['AMT_REQ_CREDIT_BUREAU_WEEK'].fillna(0)
df_train['AMT_REQ_CREDIT_BUREAU_WEEK'].isnull().sum()

0

In [250]:
#The next column we will look at is AMT_REQ_CREDIT_BUREAU_MON
#This column indicates the CB inquiries the month before the applcation is filled out
#Since this column is already numeric, we will just need to check for missing values
df_train['AMT_REQ_CREDIT_BUREAU_MON'].isnull().sum()
#To fill in these missing values, we will use the mode

13437

In [251]:
df_train['AMT_REQ_CREDIT_BUREAU_MON'].mode()

0    0.0
dtype: float64

In [252]:
df_train['AMT_REQ_CREDIT_BUREAU_MON']=df_train['AMT_REQ_CREDIT_BUREAU_MON'].fillna(0)
df_train['AMT_REQ_CREDIT_BUREAU_MON'].isnull().sum()

0

In [253]:
#The next column we will look at is AMT_REQ_CREDIT_BUREAU_QRT
#This column indicates the CB inquiries the quarter before the applcation is filled out
#Since this column is already numeric, we will just need to check for missing values
df_train['AMT_REQ_CREDIT_BUREAU_QRT'].isnull().sum()
#To fill in these missing values, we will use the mode

13437

In [254]:
df_train['AMT_REQ_CREDIT_BUREAU_QRT'].mode()

0    0.0
dtype: float64

In [255]:
df_train['AMT_REQ_CREDIT_BUREAU_QRT']=df_train['AMT_REQ_CREDIT_BUREAU_QRT'].fillna(0)
df_train['AMT_REQ_CREDIT_BUREAU_QRT'].isnull().sum()

0

In [256]:
#The next column we will look at is AMT_REQ_CREDIT_BUREAU_YEAR
#This column indicates the CB inquiries the year before the applcation is filled out
#Since this column is already numeric, we will just need to check for missing values
df_train['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum()
#To fill in these missing values, we will use the mode

13437

In [257]:
df_train['AMT_REQ_CREDIT_BUREAU_YEAR'].mode()

0    0.0
dtype: float64

In [258]:
df_train['AMT_REQ_CREDIT_BUREAU_YEAR']=df_train['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(0)
df_train['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum()

0

In [279]:
df_traincols= list(df_train.columns.values)
print(df_traincols)

['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'NAME_CONTRACT_TYPE_NUMERIC', 'CODE_GENDER_NUMERIC', 'FLAG_OWN_CAR_NUMERIC', 'FLAG_OWN_REALTY_NUMERIC', 'NAME_SUITE_TYPE_UNACCOMPANIED', 'NAME_SUITE_TYPE_OTHER_B', 'NAME_SUITE_TYPE_OTHER_A', 'NAME_SUITE_TYPE_CHILDREN', 'NAME_SUITE_TYPE_FAMILY', 'NAME_SUITE_TYPE_GROUP', 'NAME_SUITE_TYPE_SPOUSE', 'NAME_INCOME_TYPE_BUSINESSMAN', 'NAME_INCOME_TYPE_COMMERCIAL_ASSOCIATE', 'NAME_INCOME_TYPE_MATERNITY_LEAVE', 'NAME_INCOME_TYPE_PENSIONER', 'NAME_INCOME_TYPE_COMMERCIAL_STATE_SERVANT', 'NAME_INCOME_TYPE_STUDENT', 'NAME_INCOME_TYPE_COMMERCIAL_UNEMPLOYED', 'NAME_INCOME_TYPE_COMMERCIAL_WORKING', 'NAME_EDUCATION_TYPE_ACADEMIC_DEGREE', 'NAME_EDUCATION_TYPE_HIGHER_EDUCATION', 'NAME_EDUCATION_TYPE_INCOMPLETE_HIGHER', 'NAME_EDUCATION_TYPE_LOWER_SECONDARY', 'NAME_EDUCATION_TYPE_SECONDARY', 'NAME_FAMILY_STATUS_CIVIL_MARRIAGE', 'NAME_FAMILY_STATUS_MARRIED', 'NAME_FAMILY_STATUS_SEPARATED', 'NAME_FAMILY_STATUS_SINGLE', 'NAME_FAMILY_STATUS_UNKNOWN', 'NAME_FAMILY_STATUS_CIVIL_WIDOW', 'NAME_HOUSING_TYPE_CO_OP_APARTMENT', 'NAME_HOUSING_TYPE_HOUSE_APARTMENT', 'NAME_HOUSING_TYPE_MUNICIPAL_APARTMENT', 'NAME_HOUSING_TYPE_OFFICE_APARTMENT', 'NAME_HOUSING_TYPE_RENTED_APARTMENT', 'NAME_HOUSING_TYPE_PARENTS', 'OCCUPATION_TYPE_ACCOUNTANT', 'OCCUPATION_TYPE_CLEANING_STAFF', 'OCCUPATION_TYPE_COOKING_STAFF', 'OCCUPATION_TYPE_CORE_STAFF', 'OCCUPATION_TYPE_DRIVERS', 'OCCUPATION_TYPE_HR_STAFF', 'OCCUPATION_TYPE_HIGH_SKILL_TECH_STAFF', 'OCCUPATION_TYPE_IT_STAFF', 'OCCUPATION_TYPE_LABORERS', 'OCCUPATION_TYPE_LOW_SKILL_LABORERS', 'OCCUPATION_TYPE_MANAGERS', 'OCCUPATION_TYPE_MEDICINE_STAFF', 'OCCUPATION_TYPE_PRIVATE_SERVICE_STAFF', 'OCCUPATION_TYPE_REALTY_AGENTS', 'OCCUPATION_TYPE_SALES_STAFF', 'OCCUPATION_TYPE_SECRETARIES', 'OCCUPATION_TYPE_SECURITY_STAFF', 'OCCUPATION_TYPE_WAITERS', 'OCCUPATION_TYPE_UNKNOWN', 'WEEKDAY_APPR_PROCESS_START_FRIDAY', 'WEEKDAY_APPR_PROCESS_START_MONDAY', 'WEEKDAY_APPR_PROCESS_START_SATURDAY', 'WEEKDAY_APPR_PROCESS_START_SUNDAY', 'WEEKDAY_APPR_PROCESS_START_THURSDAY', 'WEEKDAY_APPR_PROCESS_START_TUESDAY', 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 'Advertising', 'Agriculture', 'Bank', 'Business Entity Type 1', 'Business Entity Type 2', 'Business Entity Type 3', 'Cleaning', 'Construction', 'Culture', 'Electricity', 'Emergency', 'Government', 'Hotel', 'Housing', 'Industry: type 1', 'Industry: type 10', 'Industry: type 11', 'Industry: type 12', 'Industry: type 13', 'Industry: type 2', 'Industry: type 3', 'Industry: type 4', 'Industry: type 5', 'Industry: type 6', 'Industry: type 7', 'Industry: type 8', 'Industry: type 9', 'Insurance', 'Kindergarten', 'Legal Services', 'Medicine', 'Military', 'Mobile', 'Other', 'Police', 'Postal', 'Realtor', 'Religion', 'Restaurant', 'School', 'Security', 'Security Ministries', 'Self-employed', 'Services', 'Telecom', 'Trade: type 1', 'Trade: type 2', 'Trade: type 3', 'Trade: type 4', 'Trade: type 5', 'Trade: type 6', 'Trade: type 7', 'Transport: type 1', 'Transport: type 2', 'Transport: type 3', 'Transport: type 4', 'University', 'XNA', 'Advertising', 'Agriculture', 'Bank', 'Business Entity Type 1', 'Business Entity Type 2', 'Business Entity Type 3', 'Cleaning', 'Construction', 'Culture', 'Electricity', 'Emergency', 'Government', 'Hotel', 'Housing', 'Industry: type 1', 'Industry: type 10', 'Industry: type 11', 'Industry: type 12', 'Industry: type 13', 'Industry: type 2', 'Industry: type 3', 'Industry: type 4', 'Industry: type 5', 'Industry: type 6', 'Industry: type 7', 'Industry: type 8', 'Industry: type 9', 'Insurance', 'Kindergarten', 'Legal Services', 'Medicine', 'Military', 'Mobile', 'Other', 'Police', 'Postal', 'Realtor', 'Religion', 'Restaurant', 'School', 'Security', 'Security Ministries', 'Self-employed', 'Services', 'Telecom', 'Trade: type 1', 'Trade: type 2', 'Trade: type 3', 'Trade: type 4', 'Trade: type 5', 'Trade: type 6', 'Trade: type 7', 'Transport: type 1', 'Transport: type 2', 'Transport: type 3', 'Transport: type 4', 'University', 'XNA', 'not specified', 'org spec account', 'reg oper account', 'reg oper spec account', 'unknown', 'block of flats', 'specific housing', 'terraced house', 'unknown']

In [2]:
##This concludes the cleaning of the training file.
#The next file we will clean is going to be the bureau csv
#This file is very large so once we upload it, we are going to merge it with the rows we have in df_train
#Once we have the amount of data reduced, we will start filling in missing values and create dummy columns as necessary
bureau = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\bureau.csv')

In [3]:
bureau = bureau.sort_values('SK_ID_CURR', ascending=True)
print(bureau.head())

        SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
248487      100001       5896633        Closed      currency 1        -1572
248485      100001       5896631        Closed      currency 1         -909
248490      100001       5896636        Active      currency 1         -320
248489      100001       5896635        Active      currency 1          -49
248486      100001       5896632        Closed      currency 1         -879

        CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
248487                   0              -1329.0            -1328.0
248485                   0               -179.0             -877.0
248490                   0                411.0                NaN
248489                   0               1778.0                NaN
248486                   0               -514.0             -544.0

        AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
248487                     NaN                   0         85500.0
248485                     NaN                   0        279720.0
248490                     NaN                   0        168345.0
248489                     NaN                   0        378000.0
248486                     NaN                   0         91620.0

        AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
248487                  0.0                   0.0                     0.0
248485                  0.0                   0.0                     0.0
248490             110281.5                   NaN                     0.0
248489             373239.0                   0.0                     0.0
248486                  0.0                   0.0                     0.0

            CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
248487  Consumer credit                -155          0.0
248485  Consumer credit                -155          0.0
248490  Consumer credit                 -10       9364.5
248489  Consumer credit                 -16      10822.5
248486  Consumer credit                -155          0.0

In [4]:
bureaucols = list(bureau.columns.values)
print(bureaucols)

['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY']

In [94]:
bureau = bureau[bureau['SK_ID_CURR'] <=216091]
bureau.shape

(559800, 17)

In [263]:
#This data sheet has been reduced in size so that the data in this is of the same customers from df_train
#In this dataframe, customers do no have the same amount of transactions so we won't be able to just merge the two data frames
#Looking at the spreadsheet, it looks like there are going to be some missing values to take care of as well.
#The first column we will look at is AMT_ANNUITY

In [6]:
bureau.groupby('SK_ID_CURR', as_index=False)['AMT_ANNUITY'].mean().head()

   SK_ID_CURR  AMT_ANNUITY
0      100001  3545.357143
1      100002     0.000000
2      100003          NaN
3      100004          NaN
4      100005  1420.500000

In [7]:
#The first thing we will do is group columns together based on the average transaction of each customer id
#This will create an average for each customer so they will all have the same amount of data for the future model
BUREAU_AMT_ANNUITY = bureau.groupby('SK_ID_CURR', as_index=False)['AMT_ANNUITY'].mean()

In [9]:
BUREAU_AMT_ANNUITY['AMT_ANNUITY'].isnull().sum()
#It looks like we have a lot of missing values for this column.  This column represents annutity credits with the Credit Bureau
#Since there are so many missing values in the data, I will assume that they will be 0
#If every missing row represented a value greater than 0, then the column as a while would be kind of useless.

61173

In [10]:
BUREAU_AMT_ANNUITY['AMT_ANNUITY'] = BUREAU_AMT_ANNUITY['AMT_ANNUITY'].fillna(0)
df_train = pd.merge(df_train, BUREAU_AMT_ANNUITY, how='outer', on= 'SK_ID_CURR')

NameError: name 'df_train' is not defined

In [11]:
#The next column we will look at is DAYS_CREDIT_UPDATE
#This column indicates how old the credit information is
#Since it is already numeric, we will just have to group it by SK_ID_CURR and check for missing values
BUREAU_AMT_DCU = bureau.groupby('SK_ID_CURR', as_index=False)['DAYS_CREDIT_UPDATE'].mean()
BUREAU_AMT_DCU.isnull().sum()
#It looks like there are not any missing values in this data

SK_ID_CURR            0
DAYS_CREDIT_UPDATE    0
dtype: int64

In [12]:
df_train = pd.merge(df_train, BUREAU_AMT_DCU, how='outer', on='SK_ID_CURR')

NameError: name 'df_train' is not defined

In [13]:
#The next column we will look at is CREDIT_TYPE
#This column indicates what type credit bureau account they have
#Since this column contains categorical variables, we will have to construct dummy columns
#First though, we will check for missing values
bureau['CREDIT_TYPE'].isnull().sum()

0

In [19]:
credit_dummies = pd.get_dummies(bureau['CREDIT_TYPE'])
print(credit_dummies.head())

        Another type of loan  Car loan  Cash loan (non-earmarked)  \
248487                     0         0                          0
248485                     0         0                          0
248490                     0         0                          0
248489                     0         0                          0
248486                     0         0                          0

        Consumer credit  Credit card  Interbank credit  \
248487                1            0                 0
248485                1            0                 0
248490                1            0                 0
248489                1            0                 0
248486                1            0                 0

        Loan for business development  \
248487                              0
248485                              0
248490                              0
248489                              0
248486                              0

        Loan for purchase of shares (margin lending)  \
248487                                             0
248485                                             0
248490                                             0
248489                                             0
248486                                             0

        Loan for the purchase of equipment  \
248487                                   0
248485                                   0
248490                                   0
248489                                   0
248486                                   0

        Loan for working capital replenishment  Microloan  \
248487                                       0          0
248485                                       0          0
248490                                       0          0
248489                                       0          0
248486                                       0          0

        Mobile operator loan  Mortgage  Real estate loan  Unknown type of loan
248487                     0         0                 0                     0
248485                     0         0                 0                     0
248490                     0         0                 0                     0
248489                     0         0                 0                     0
248486                     0         0                 0                     0

In [16]:
#The next column we will look at is AMT_CREDIT_SUM_OVERDUE
#This column describes the amount overdue on the credit bureau report
#Since the data is already numeric, we will just need to check for missing values
bureau['AMT_CREDIT_SUM_OVERDUE'].isnull().sum()
#Since there are no missing values, we can move on to the next column

0

In [17]:
#The next column we will look at is AMT_CREDIT_SUM_LIMIT
#This column describes the current limit of credit card reported to the bureau
#Since this column is numeric, we will just need to check for missing numbers
bureau['AMT_CREDIT_SUM_LIMIT'].isnull().sum()

193569

In [22]:
bureau_CREDIT_LIMIT = bureau.groupby('SK_ID_CURR', as_index=False)['AMT_CREDIT_SUM_LIMIT'].mean()
bureau_CREDIT_LIMIT = bureau_CREDIT_LIMIT.fillna(0)
bureau_CREDIT_LIMIT.isnull().sum()

SK_ID_CURR              0
AMT_CREDIT_SUM_LIMIT    0
dtype: int64

In [23]:
#The next column we will look at is AMT_CREDIT_SUM_DEBT
#This column indicates how much debt a person currently has with the bureau
#Since this column is already in numeric form, we will jus need to check for missing values
bureau['AMT_CREDIT_SUM_DEBT'].isnull().sum()
#In this scenario, we are going to assume there hasn't been huge accounting errors and that the missing values are just 
#unentered 0's

84232

In [24]:
bureau['AMT_CREDIT_SUM_DEBT'] = bureau['AMT_CREDIT_SUM_DEBT'].fillna(0)

In [25]:
bureau_credit_sum = bureau.groupby('SK_ID_CURR', as_index=False)['AMT_CREDIT_SUM_LIMIT'].mean()

In [27]:
#The next column we will look at is the #AMT_CREDIT_SUM column. 
#This column indicates the current credit amount with the bureau
#Since this column is already numeric, we will just need to check for missing values and group by sk-id-curr
bureau['AMT_CREDIT_SUM'].isnull().sum()

5

In [30]:
bureau['AMT_CREDIT_SUM'] = bureau['AMT_CREDIT_SUM'].fillna(0)
bureau_AMT_CREDIT_SUM = bureau.groupby(['SK_ID_CURR'], as_index=False)['AMT_CREDIT_SUM'].mean()
bureau_AMT_CREDIT_SUM.isnull().sum()

SK_ID_CURR        0
AMT_CREDIT_SUM    0
dtype: int64

In [32]:
bureau_AMT_CREDIT_SUM.head()

   SK_ID_CURR  AMT_CREDIT_SUM
0      100001   207623.571429
1      100002   108131.945625
2      100003   254350.125000
3      100004    94518.900000
4      100005   219042.000000

In [33]:
#The next column we will look at is CNT_CREDIT_PROLONG
#This column shows how many times the Credit Bureau credit was prolonged
#Since this data is already numeric, we will just need to check for missing values and group by SK_ID_CURR
bureau['CNT_CREDIT_PROLONG'].isnull().sum()
#Since there are no missing values, we will jus need to group the data by the average of each credit occurence

0

In [34]:
bureau_credit_prolong = bureau.groupby('SK_ID_CURR', as_index=False)['CNT_CREDIT_PROLONG'].mean()

In [35]:
bureau_credit_prolong.head()

   SK_ID_CURR  CNT_CREDIT_PROLONG
0      100001                 0.0
1      100002                 0.0
2      100003                 0.0
3      100004                 0.0
4      100005                 0.0

In [36]:
#The next column we will look at is AMT_CREDIT_MAX_OVERDUE
#This column shows  the maximal amount overdue on the Credit Bureau credit so far
#Since this column is already numeric, we will just need to fill in missing values and groupby SK_ID_CURR
bureau['AMT_CREDIT_MAX_OVERDUE'].isnull().sum()
#We will once again make the assumption that there are not huge amounts of missing dollars and will use 0 for missing values

366463

In [37]:
bureau['AMT_CREDIT_MAX_OVERDUE'] = bureau['AMT_CREDIT_MAX_OVERDUE'].fillna(0)
bureau_max_credit_overdue = bureau.groupby('SK_ID_CURR', as_index=False)['AMT_CREDIT_MAX_OVERDUE'].mean()
print(bureau_max_credit_overdue.head())

   SK_ID_CURR  AMT_CREDIT_MAX_OVERDUE
0      100001                0.000000
1      100002             1050.643125
2      100003                0.000000
3      100004                0.000000
4      100005                0.000000

In [38]:
#The next column we will look at is DAYS_ENDDATE_FACT
#This column shows the number of days since the last application
#Since this column is already numeric, we will just need to fill missing values and groupby SK_ID_CURR
bureau['DAYS_ENDDATE_FACT'].isnull().sum()
#We will fill in the missing values here with 0

206695

In [39]:
bureau['DAYS_ENDDATE_FACT'] = bureau['DAYS_ENDDATE_FACT'].fillna(0)
bureau_days_enddate_fact = bureau.groupby(['SK_ID_CURR'], as_index=False)['DAYS_ENDDATE_FACT'].mean()
print(bureau_days_enddate_fact.head())

   SK_ID_CURR  DAYS_ENDDATE_FACT
0      100001        -471.714286
1      100002        -523.125000
2      100003        -823.000000
3      100004        -532.500000
4      100005         -41.000000

In [41]:
#The next column we will look at is DAYS_CREDIT_ENDDATE
#This column indicates the remaining duration of CB credit in day at the time of the application in Home Credit
#Since this column is numeric, we will just need to fill missing values and groupby SK_ID_CURR
bureau['DAYS_CREDIT_ENDDATE'].isnull().sum()
#We will once again trust the accountants and use 0 for missing values

34089

In [46]:
bureau['DAYS_CREDIT_ENDDATE']=bureau['DAYS_CREDIT_ENDDATE'].fillna(0)
bureau_days_credit_enddate = bureau.groupby('SK_ID_CURR', as_index=False)['DAYS_CREDIT_ENDDATE'].mean()
print(bureau_days_credit_enddate.head())

   SK_ID_CURR  DAYS_CREDIT_ENDDATE
0      100001            82.428571
1      100002          -261.750000
2      100003          -544.500000
3      100004          -488.500000
4      100005           439.333333

In [47]:
#The next column we will look at is CREDIT_DAY_OVERDUE
#This column indicates the number of days past due on cb credit at the time of application
#Since this column is numeric, we will just need to fill missing data and groupby SK_ID_CURR
bureau['CREDIT_DAY_OVERDUE'].isnull().sum()

0

In [49]:
bureau_credit_day_overdue = bureau.groupby('SK_ID_CURR', as_index=False)['CREDIT_DAY_OVERDUE'].mean()
print(bureau_credit_day_overdue. head())

   SK_ID_CURR  CREDIT_DAY_OVERDUE
0      100001                 0.0
1      100002                 0.0
2      100003                 0.0
3      100004                 0.0
4      100005                 0.0

In [50]:
#The next column we will look at is DAYS_CREDIT
#This column indicates the number of days since the client last applied for credit
#Since this column is numeric, we will just need to fill missing data and groupby SK_ID_CURR
bureau['DAYS_CREDIT'].isnull().sum()

0

In [51]:
bureau_days_credit= bureau.groupby('SK_ID_CURR', as_index=False)['DAYS_CREDIT'].mean()
print(bureau_days_credit.head())

   SK_ID_CURR  DAYS_CREDIT
0      100001  -735.000000
1      100002  -874.000000
2      100003 -1400.750000
3      100004  -867.000000
4      100005  -190.666667

In [52]:
#The next column we will look at is CREDIT_CURRENCY
#This column indicates the currency of the loan
#we will need to fill missing data and groupby SK_ID_CURR and create dummy columns
#First though, we will check for missing values
bureau['CREDIT_CURRENCY'].isnull().sum()

0

In [77]:
bureau_currency = bureau[['SK_ID_CURR', 'CREDIT_CURRENCY']]
bureau_currency = bureau_currency.drop_duplicates('SK_ID_CURR')
bureau_currency = pd.get_dummies(bureau_currency)
print(bureau_currency.head(3))

         SK_ID_CURR  CREDIT_CURRENCY_currency 1  CREDIT_CURRENCY_currency 2  \
248487       100001                           1                           0
675689       100002                           1                           0
1024669      100003                           1                           0

         CREDIT_CURRENCY_currency 3
248487                            0
675689                            0
1024669                           0

In [78]:
#The next column we will look at is CREDIT_ACTIVE
#This column indicates whether a file is open or closed.
#This column contains strings so we are going to have to create dummy columns
#It will also contain multiple id's so we will have to decide how to get them all into one field.
#First, we will check for missing values
bureau['CREDIT_ACTIVE'].isnull().sum()
#It looks like there are not any missing values so we can move onto the next step: creating dummy variables and removing duplicates

0

In [ ]:
#We will try to create two different columns from this data.
#The first will be one that shows what percentage of cases are open.
#The second column will show how many cases each ID has.

In [81]:
bureau_active = bureau[['SK_ID_CURR', 'CREDIT_ACTIVE']]
bureau_active = bureau_active.groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
print(bureau_active.head())

   SK_ID_CURR  CREDIT_ACTIVE
0      100001              7
1      100002              8
2      100003              4
3      100004              2
4      100005              3

In [89]:
#Now that we have created the column with the total amount of cases, we will create 3 new columns to show percentages 
bureau_active_open = bureau[bureau['CREDIT_ACTIVE'] == 'Active']
bureau_active_closed = bureau[bureau['CREDIT_ACTIVE'] == 'Closed']
bureau_active_open = bureau_active_open.groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
bureau_active_closed = bureau_active_closed.groupby('SK_ID_CURR', as_index=False)['CREDIT_ACTIVE'].count()
print(bureau_active_open.head())

   SK_ID_CURR  CREDIT_ACTIVE
0      100001              3
1      100002              2
2      100003              1
3      100005              2
4      100008              1

In [90]:
print(bureau_active_closed.head())

   SK_ID_CURR  CREDIT_ACTIVE
0      100001              4
1      100002              6
2      100003              3
3      100004              2
4      100005              1

In [91]:
bureau_active = bureau[['SK_ID_CURR', 'CREDIT_ACTIVE']]
bureau_active['bureau']

NameError: name 'bureau_active1' is not defined

In [ ]:
###This last column is not finished

In [2]:
#The next sheet we will be looking at is the bureau_balance sheet
bb = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\bureau_balance.csv')

In [ ]:
bb = bb[bb['']]

In [96]:
bureau['SK_ID_BUREAU']

248487     5896633
248485     5896631
248490     5896636
248489     5896635
248486     5896632
248484     5896630
248488     5896634
675689     6158909
675688     6158908
675687     6158907
675686     6158906
675685     6158905
675684     6158904
1337779    6158903
1486113    6113835
1024669    5885880
1024668    5885879
1024667    5885878
1024666    5885877
363104     6829133
363105     6829134
1421816    6735202
1421815    6735201
1421814    6735200
1503966    5987200
718762     6491434
1616817    6491432
718761     6491433
564533     5651008
1279728    5651014
            ...
994119     6426786
994118     6426785
994117     6426783
494443     6426784
119046     5014393
119047     5014394
119048     5014395
535345     5484777
535340     5484771
535341     5484772
704374     5484770
704375     5484774
535343     5484775
535344     5484776
704373     5484769
535342     5484773
456145     5037575
456144     5037574
456143     5037573
456142     5037572
493935     5095619
1049273    6745858
1049272    6745857
1025866    5887349
1025865    5887348
1025864    5887347
1025863    5887346
260604     5887345
1025862    5887344
1025861    5887343
Name: SK_ID_BUREAU, Length: 559800, dtype: int64

In [11]:
#The next sheet we will look at is the POS_CASH_balance csv
#The first thing we will do is reduce the size of the data so it can be worked with
#We will do this by creating another dataset with the same SK_ID_CURR as in the df_train worksheet
pos_cash = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\POS_CASH_balance.csv')
pos_cash = pos_cash[pos_cash['SK_ID_CURR'] <= 216091]

In [12]:
pos_cash = pos_cash[pos_cash['SK_ID_CURR'] <= 216091]
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
13,1627166,146161,-33,24.0,24.0,Active,0,0

In [7]:
pos_cash.shape

(3243790, 8)

In [5]:
#The first column we will look at is MONTHS_BALANCE
#This column indicates the age of the credit balance in months
#Since this column is already numeric, we will just need to check for missing values and group the values by SK_ID_CURR
pos_cash['MONTHS_BALANCE'].isnull().sum()

0

In [13]:
pos_cash_months_balance = pos_cash.groupby('SK_ID_CURR', as_index=False)['MONTHS_BALANCE'].mean()
pos_cash.shape

(3243790, 8)

In [14]:
#The next column we will look at is the STATUS column
#This column indicates the term of previous credit
#Since this column is numeric, we will just need to check for missing values and group by SK_ID_CURR
pos_cash['CNT_INSTALMENT'].isnull().sum()
#We will fill the missing values with 0

8543

In [18]:
pos_cash['CNT_INSTALMENT'] = pos_cash['CNT_INSTALMENT'].fillna(0)
pos_cash_cnt_instalment = pos_cash.groupby('SK_ID_CURR', as_index=False)['CNT_INSTALMENT'].mean()
pos_cash_cnt_instalment.shape

(109888, 2)

In [19]:
#The next column we will look at is CNT_INSTALMENT_FUTURE
#Since this data is already numeric, we will just need to check for missing values and groupby SK_ID_CURR
pos_cash['CNT_INSTALMENT_FUTURE'].isnull().sum()
#We will once again use 0 to fill in these blanks, assuming that they just didnt have a limit

8541

In [20]:
pos_cash['CNT_INSTALMENT_FUTURE'] = pos_cash['CNT_INSTALMENT_FUTURE'].fillna(0)
pso_cash_cnt_instalment_future = pos_cash.groupby(['SK_ID_CURR'], as_index=False)['CNT_INSTALMENT_FUTURE'].mean()
pso_cash_cnt_instalment_future.shape

(109888, 2)

In [28]:
#The next column we will look at is NAME_CONTRACT_STATUS
#This indicates the contract status duing the month
#Since this data is not in numeric form, we will need to create dummy columns, check for missing values, and and group data
#First, we will check for missing data
pos_cash['NAME_CONTRACT_STATUS'].isnull().sum()

0

In [99]:
#Since there are no missing values, we will group the data together
pos_cash['NAME_CONTRACT_STATUS'] = pd.get_dummies(pos_cash['NAME_CONTRACT_STATUS'])
print(pos_cash['NAME_CONTRACT_STATUS'].head())

0     0
6     0
7     0
8     0
13    0
Name: NAME_CONTRACT_STATUS, dtype: uint8

In [40]:
pos_cash.groupby('SK_ID_CURR', as_index=False)['NAME_CONTRACT_STATUS'].count()

0     0
6     0
7     0
8     0
13    0
Name: NAME_CONTRACT_STATUS, dtype: uint8

In [22]:
#The next column we will look at is SK_DPD
#This indicates the amount of days past due
pos_cash['SK_DPD'].isnull().sum()
#Since there are no missing values, we will just need to group the data by SK_ID_CURR

0

In [24]:
pos_cash_sk_dpd = pos_cash.groupby(['SK_ID_CURR'], as_index=False)['SK_DPD'].mean()
pos_cash_sk_dpd.shape

(109888, 2)

In [25]:
#The next column we will look at is SK_DPD_DEF
#This column indicates DPD with tolerance
#First, we will check the data for missing values
pos_cash['SK_DPD_DEF'].isnull().sum()
#Since there are no missing values, we will just need to groupby the SK_ID_CURR

0

In [27]:
pos_cash_sk_dpd_def = pos_cash.groupby('SK_ID_CURR', as_index=False)['SK_DPD_DEF'].mean()
pos_cash_sk_dpd_def.shape

(109888, 2)